<style type="text/css">
    ul.inputs-list li {
        display: inline;
    }
</style>
<script type="text/javascript">

    $(function () {
        $(".timepicker123").datetimepicker({dateFormat:'yy-mm-dd ', ampm:true});
    });

</script>

<%= semantic_form_for(@interaction) do |f| %>
    <div class="row-fluid " style="color:black;font-size: 16px;width:93%">

      <div class="span blocky">
        <% InteractionType.all.each do |interaction_type| %>
            <%= f.radio_button :interaction_type_id, interaction_type.id, :id => "interaction_#{interaction_type.id}", :checked => "#{(interaction_type.id==1) ? 'checked' :'false'}" %>
            <%= f.label interaction_type.name, :for => "interaction_#{interaction_type.id}", :class => "pointered" %>
        <% end %>
        <br>

        <div style="font-size: 12px">
          Date of Interaction:

          <%= f.text_field :interaction_date, :value => Date.today.strftime('%d %b'), :class => "timepicker", :onclick => "$('.ui-datepicker').css('z-index','999999999');", :style => "font-size:12px;height:24px; padding-left:3px;background:white;" %>
          <br><span style="font-size: 12px">Choose Primary Contact for interaction *
            <%= f.select :primary_contact_id, options_from_collection_for_select(Contact.all, "id", "name", @primary_contact), :class => 'span5 pull-right multi-select-chosen0', :id => "pc_select" %>
        </span>
        </div>
      </div>
    </div>



    <div class="row-fluid">
      <div class="span5">
        <%= f.label "Interaction Details", :style => "font-weight:bold;font-size:15px" %>
        <br/>
        <%= f.text_area :name, :rows => 2, :style => "margin-left:0; width:90%;font-size:12px;padding:5px;" %>
        <h4 style="font-weight:bold;font-size:15px">Tag This Interaction</h4>
        <% @interaction.interaction_flats.build %>
        <% @interaction.interaction_contacts.build %>

        <%= hidden_field_tag 'interaction[flat_ids][]', nil %>
        <%= select_tag 'interaction[flat_ids][]', options_from_collection_for_select(Flat.all, 'id', 'flat_key', @default_flats), :multiple => true, :class => 'chzn-container-multi' %>


        <%= hidden_field_tag 'interaction[contact_ids][]', nil %>
        <%= select_tag 'interaction[contact_ids][]', options_from_collection_for_select(Contact.all, 'id', "name", @tagged_contacts), :multiple => true, :class => 'chzn-container-multi' %>
      </div>
      <div class="span6" style="padding-left: 20px;">
        <h3 style="font-weight:bold;font-size:12px">Assign follow up date:</h3>
        <%= f.semantic_fields_for :taskings do |builder| %>
            <div class="span4" style="margin-left: 0px">
              <%= builder.label :assigned_to, :class => "blabel" %>
              <%= builder.select :assigned_to, options_from_collection_for_select(ContactType.find_by_name('Employee').contacts, "id", "name", current_user.contact_id), {}, {:class => "multi-select-chosen2", :onclick => "$('.chzn-drop').css('margin-top','-240px');"} %>
              <br>
              <%= builder.label :due_date, :class => "blabel" %>
              <br>
              <% if @task.nil? %>
                  <%= builder.text_field :due_date, :class => "timepicker123", :onclick => "$('.ui-datepicker').css('z-index','999999999');", :style => "font-size:12px;height:24px; padding-left:3px;" %>
              <% elsif @prev_comment=="CANCEL" %>
                  <%= builder.text_field :due_date, :class => "timepicker123",  :onclick => "$('.ui-datepicker').css('z-index','999999999');", :style => "font-size:12px;height:24px; padding-left:3px;" %>
              <% elsif @prev_comment=="RESCHEDULE" %>
                  <%= builder.text_field :due_date,:class=>"timepicker123",:value=>Date.today+1,:onclick=>"$('.ui-datepicker').css('z-index','999999999')" %>

              <% else %>
                  <%= builder.text_field :due_date, :class => "timepicker123", :onclick => "$('.ui-datepicker').css('z-index','999999999');", :style => "font-size:12px;height:24px; padding-left:3px;" %>
              <% end %>
              <br>

            </div>

            <%= f.submit " Submit", :style => "position:relative;left:25px;top:5px;height:30px;width:200px; margin-right:60px;", :class => "btn btn-inverse pull-right" %>


            <%= builder.hidden_field :active, :value => true %>
        <% end %>

      </div>
    </div>

    <div class="row-fluid">
      <div class="span12" style="margin-left: 0px;">

      </div>
      <!--#TODO: convert to chozen, else put in "Add New Entity" link next to multiselect-->
      <!--#TODO: add number in the multiselect-->
      <!--#TODO: add the contact(participant)/building(properties) from which interaction is created in the multiselect by default-->

    </div>
    <br>
    <%= f.hidden_field :created_by, :value => current_user.contact_id %>

    <% if !@task.nil? %>
        <%= hidden_field_tag :prev_interaction_id, @task.interaction.id %>
        <%= hidden_field_tag :prev_comment, @prev_comment %>



    <% end %>




<% end %>


<script type="text/javascript">
    $(".timepicker").datetimepicker({
        dateFormat:'dd-mm-yy'
    });
    //    $(".multi-select-chosen0").chosen();
    //    $(".multi-select-chosen1").chosen();
    //    $(".multi-select-chosen2").chosen();
</script>