<h1>Listing searchings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Budget</th>
    <th>Shifting</th>
    <th>Restriction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @searchings.each do |searching| %>
  <tr>
    <td><%= searching.name %></td>
    <td><%= searching.phone %></td>
    <td><%= searching.email %></td>
    <td><%= searching.budget %></td>
    <td><%= searching.shifting %></td>
    <td><%= searching.restriction_id %></td>
    <td><%= link_to 'Show', searching %></td>
    <td><%= link_to 'Edit', edit_searching_path(searching) %></td>
    <td><%= link_to 'Destroy', searching, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Searching', new_searching_path %>
