<style type="text/css">
.slabel{
padding-left: 10px;
line-height: 0.8;
}

.sval{
line-height: 0.8;
}
</style>

<h3 style="margin-left: 30px;"><%= @flat.name %></h3>
<br>

<div class="span4" style="margin-top:0px;position: relative; height: 120px;">

      <% if @flat.photos.where('showcase_image=?', true).first.nil? %>
          <%= image_tag "missing_photo.jpg", :style => "border-radius:5px;" %>
      <% else %>
          <%= image_tag @flat.photos.where('showcase_image=?', true).first.image.url(:lightbox), :style => "border-radius:5px" %>
      <% end %>

      <div class="span6">
        <div class="show-block row" style="text-align: center; margin-left: -40px; position: relative;">
          <% Facility.all.each do |facility| %>
              <% if @flat.building.facilities.include?(facility) or @flat.facilities.include?(facility) %>
                  <%= link_to facility.name, "#", :class => "btn btn-tbyellow span2 facility_blocks", :title => facility.name, :'data-content' => (@flat.building.facility_features.where('facility_id=?', facility)+@flat.facility_features.where('facility_id=?', facility)).map { |fi| fi.name }.join(", ") %>
              <% else %>
                  <%= link_to facility.name, "#", :class => "btn span2", :style => "color:lightgray;" %>
              <% end %>
          <% end %>
        </div>
        <br>

      <div class="span2 blocky pull-right" style="position: relative;width: 200px;; height:227px; margin-top: -430px; left:45px;">

        <br>

        <div class="slabel">Area</div>
        <div class="sval"><%= @flat.area unless @flat.area.nil? %> sq.ft.</div>
        <br>

        <div class="slabel">Floor</div>
        <div class="sval"><%= @flat.floor unless @flat.direction.nil? %></div>
        <br>

        <div class="slabel">Facing</div>
        <div class="sval"><%= @flat.direction.name unless @flat.direction.nil? %></div>
        <br>

        <div class="slabel">Bathrooms</div>
        <div class="sval"><%= @flat.bathrooms.sum { |b| b.value } %></div>
        <br>

        <div class="slabel">Balconies</div>
        <div class="sval"><%= @flat.balconies.sum { |b| b.value } %></div>
        <br>

        <div class="slabel">Parking</div>
        <div class="sval"><%= @flat.parkings.sum { |b| b.value } %></div>
        <br>
        <br>


        <%# f.flat_contacts.each do |flat_contact| %>

        <!--<div class="slabel"><%#= flat_contact.labelling.name unless flat_contact.labelling_id.nil? %></div>-->
        <!--<br>-->
        <!--<%#= link_to flat_contact.contact.name+(flat_contact.contact.phones.first.blank? ? "" : "-" + flat_contact.contact.phones.first.name), flat_contact.contact %>-->
        <!--<br>-->
        <!--<span style="font-size:10px;font-style: italic; "><%#= flat_contact.name %></span>-->
        <!--<br>-->
        <%# end %>

        <!--<br>-->
      </div>


</div>