<h1>Listing flats</h1>

<table>
  <tr>
    <th>Building</th>
    <th>Bhk config</th>
    <th>Direction</th>
    <th>Name</th>
    <th>Area</th>
    <th>Floor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flats.each do |flat| %>
  <tr>
    <td><%= flat.building_id %></td>
    <td><%= flat.bhk_config_id %></td>
    <td><%= flat.direction_id %></td>
    <td><%= flat.name %></td>
    <td><%= flat.area %></td>
    <td><%= flat.floor %></td>
    <td><%= link_to 'Show', flat %></td>
    <td><%= link_to 'Edit', edit_property_path(flat.building,flat) %></td>
    <td><%= link_to 'Destroy', flat, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flat', new_flat_path %>
