<%= javascript_include_tag "exclusions/dhtmlxcommon" %>
<%= javascript_include_tag "exclusions/dhtmlxgrid" %>
<%= javascript_include_tag "exclusions/dhtmlxgrid_filter" %>
<%= javascript_include_tag "exclusions/dhtmlxgrid_srnd" %>
<%= javascript_include_tag "exclusions/dhtmlxgrid_start" %>
<%= javascript_include_tag "exclusions/dhtmlxgridcell" %>
<%= javascript_include_tag "exclusions/dhtmlXGrid_srnd" %>

<div class="content" style="margin-top: 25px;">
  <div class="row">
    <table>
      <tr>
        <td><h1 style="margin-left: 20px">Property Index</h1></td>
        <td><%= link_to "Aishwarya Rai", quick_property_index_path, :class=>"btn btn-small btn-disabled" %></td>
        <td><%= link_to "Aishwarya Bachchan", flats_path, :class=>"btn btn-info btn-large" %></td>
      </tr>
    </table>
  </div>
</div>
<br>


<div class="content">
  <table id="dhtmlxtable">
    <tr>
      <td>Flat-Key</td>
      <td>Flat Name</td>
      <td>Building Name</td>
      <td>Locality</td>
      <td>BHK</td>
      <td>Furn Status</td>
      <td>Rent</td>

      <td>Available from</td>
      <td>Flat Facilities</td>
      <td>Building Facilities</td>
      <td>Quality</td>


    </tr>


    <% @flats.each do |flat| %>
        <tr>
          <td id=<%= flat.id+0 %>><%= link_to flat.flat_key, "property/#{flat.id}", :target => "_blank" %></td>
          <td <%= flat.id+1 %>><%= flat.name %></td>
          <td <%= flat.id+2 %>><%= flat.building.name %></td>
          <td <%= flat.id+3 %>><%= flat.building.primary_locality.name+"-"+flat.building.primary_locality.area.name+","+flat.building.localities.map { |l| l.name+"-"+l.area.name }.join(",") %></td>
          <td <%= flat.id+5 %>><%= flat.bhk_config.name.split(" ")[0] %></td>
          <td <%= flat.id+6 %>><%= flat.furnstat.name %></td>
          <td <%= flat.id+7 %>><%= flat.expected_rents.map { |k| k.name }.join(",") %></td>
          <td <%= flat.id+10 %>><%= flat.available_froms.map { |af| af.name.strftime(" %b %y") }.join(",") %></td>
          <td <%= flat.id+14 %>><%= flat.facilities.map { |f| f.name }.join(",") %></td>
          <td <%= flat.id+15 %>><%= flat.building.facilities.map { |f| f.name }.join(",") %></td>
          <td <%= flat.id+18 %>><%= flat.overall_quality %></td>

        </tr>
    <% end %>

  </table>
</div>

<script type="text/javascript">

    var mygrid;
    function doInitGridtable() {
        mygrid = new dhtmlXGridFromTable("dhtmlxtable");
        mygrid.enableSmartRendering(true);
        mygrid.setSkin("bpe");
        mygrid.attachHeader("#text_filter,#text_filter,#text_filter,#text_filter,#numeric_filter,#text_filter,#numeric_filter,#text_filter,#text_filter,#text_filter,#text_filter");
        mygrid.enableAutoWidth(true);
        mygrid.enableAutoHeight(true);
        mygrid.setSizes();
    }

    $(function () {
        doInitGridtable();
    });

</script>