<%= render "top_menu" %>

<div class="content" style="margin-top: 10px;" xmlns="http://www.w3.org/1999/html">
  <div class="row-fluid" style="position: relative;">

    <div class="span4">
      <% if @flat.photos.where('showcase_image=?', true).first.nil? %>
          <%= image_tag "missing_photo.jpg", :style => "border-radius:5px" %>
      <% else %>
          <%= image_tag @flat.photos.where('showcase_image=?', true).first.image.url(:lightbox), :style => "border-radius:5px" %>
      <% end %>
      <br>

      <h2>Description</h2>
      <b>Flat:</b> <%= raw @flat.qknote %>
      <br>
      <b>Building:</b>  <%= raw @flat.building.qknote %>
      <br>
      <b>Locality:</b> <%= @flat.building.primary_locality.area.name %>
      <br>
      <%= raw @flat.building.primary_locality.area.comment %>
      <br>
      <br>
    </div>

    <div class="span6">
      <div class="show-block row" style="text-align: center">
        <% Facility.all.each do |facility| %>
            <% if @flat.building.facilities.include?(facility) or @flat.facilities.include?(facility) %>
                <%= link_to facility.name, "#", :class => "btn btn-tbyellow span2 facility_blocks", :title => facility.name, :'data-content' => (@flat.building.facility_features.where('facility_id=?', facility)+@flat.facility_features.where('facility_id=?', facility)).map { |fi| fi.name }.join(", ") %>
            <% else %>
                <%= link_to facility.name, "#", :class => "btn span2", :style => "color:lightgray;" %>
            <% end %>
        <% end %>
      </div>
      <br>
      <%if (@flat.displayed==false and @flat.approved==false) %>

          <%= form_for @flat do |f| %>
              <div style="background: #add8e6;width: 40%;padding: 5px;">
                <h3>Approved and Displayed</h3>
                <%= f.label :displayed %>
                <br><%= f.select :displayed, options_for_select(["true", "false"],"false")  %>
                <br><%= f.label :approved %>
                <br><%= f.select :approved, options_for_select(["true", "false"],"false") %>
                <br><%= f.submit "Update" %>
              </div>
          <%end%>

      <%end%>

      </br>

      <div class="show-block row" style="text-align: center; font-size: 16px;line-height: 20px;">
        <%= @flat.bathrooms.where("value>?", 0).map { |b| "#{b.value} #{(b.value>1) ? b.bathroom_type.name.pluralize : b.bathroom_type.name}" }.join(", ") %>
        <br>
        <%= @flat.balconies.where("value>?", 0).map { |b| "#{b.value} #{(b.value>1) ? b.balcony_type.name.pluralize : b.balcony_type.name}" }.join(", ") %>
        <br>
        <%= @flat.parkings.where("value>?", 0).map { |b| "#{b.value} #{(b.value>1) ? b.parking_type.name.pluralize : b.parking_type.name}" }.join(", ") %>
        <br>
        <br>
      </div>
      <div class="show-block row" style="text-align: center; font-size: 16px;line-height: 20px;color: darkred">
        <%= @flat.restrictions.map { |r| r.name }.join(", ") %>
        <br>
      </div>
      <div class="show-block row" style="text-align: center; font-size: 16px;line-height: 20px;">
        <%= @flat.building.moving_requirements.map { |r| r.name }.join(", ") %>
        <br>
        <%= "Moving Charges: #{@flat.building.moving_charge}" unless @flat.building.moving_charge.blank? %>
        <br>
        <br>
      </div>
    </div>
    <div class="span2 blocky pull-right" style="position:absolute;right:5px;">

      <div class="small-head"><%= image_tag "icons/address.png" %>Address</div>
      <div class="show-block">
        <%= @flat.name[0..20] %>,
        <br>
        <%= @building.name %>,
        <br>
        <% unless @building.road.blank? %>
            <%= @building.road %>,
            <br>
        <% end %>
        <%= @building.main_locality.name unless @building.main_locality.nil? %>
        ,
        <br/>
        <%= @building.main_locality.area.name %>
        <br>
        <%= @building.main_locality.area.city.name unless @building.main_locality.area.city.nil? %>
        - <%= @building.pincode %>
      </div>
      <br>

      <div class="slabel">Area</div>
      <%= @flat.area unless @flat.area.nil? %> sq.ft.
      <br>

      <div class="slabel">Floor</div>
      <%= @flat.floor unless @flat.direction.nil? %>
      <br>

      <div class="slabel">Facing</div>
      <%= @flat.direction.name unless @flat.direction.nil? %>
      <br>

      <div class="slabel">Bathrooms</div>
      <%= @flat.bathrooms.sum { |b| b.value } %>
      <br>

      <div class="slabel">Balconies</div>
      <%= @flat.balconies.sum { |b| b.value } %>
      <br>

      <div class="slabel">Parking</div>
      <%= @flat.parkings.sum { |b| b.value } %>
      <br>
      <br>


      <% @flat.flat_contacts.each do |flat_contact| %>

          <div class="slabel"><%= flat_contact.labelling.name unless flat_contact.labelling_id.nil? %></div>
          <br>
          <%= link_to flat_contact.contact.name+(flat_contact.contact.phones.first.blank? ? "" : "-" + flat_contact.contact.phones.first.name), flat_contact.contact %>
          <br>
          <span style="font-size:10px;font-style: italic; "><%= flat_contact.name %></span>
          <br>
      <% end %>

      <br>
    </div>

  </div>
  <br>
  <hr>
  <br>

  <div class="row-fluid">
    <h2>Viewing Gallery</h2>
    <br>
    <% @flat.photos.each do |photo| %>
        <a href="<%= photo.image.url(:lightbox) %>" class="lightbox"><img src="<%= photo.image.url(:thumbnail) %>" alt="<%= photo.name %>" title="<%= photo.name %>" style="width:200px;"/></a>
    <% end %>
  </div>
</div>