<style type="text/css">

    html {
        /*background: white;*/
    }

    body {
        background: rgb(254, 252, 234); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, rgba(254, 252, 234, 1) 0%, rgba(249, 228, 149, 1) 48%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(254, 252, 234, 1)), color-stop(48%, rgba(249, 228, 149, 1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(254, 252, 234, 1) 0%, rgba(249, 228, 149, 1) 48%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, rgba(254, 252, 234, 1) 0%, rgba(249, 228, 149, 1) 48%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, rgba(254, 252, 234, 1) 0%, rgba(249, 228, 149, 1) 48%); /* IE10+ */
        background: radial-gradient(ellipse at center, rgba(254, 252, 234, 1) 0%, rgba(249, 228, 149, 1) 48%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fefcea', endColorstr = '#f9e495', GradientType = 1); /* IE6-9 fallback on horizontal gradient */

        height: 420px;

        /*margin-top: 240px;*/
    }

    #site_logo {
        width: 300px;
        vertical-align: middle;
    }

    .wrapping {
        margin: 0 auto;
        margin-top: 30px;;
        padding: 20px;
        border-radius: 10px;
        font-size: 14px;
        color: black;
        width: 800px;
        background: transparent;
    }

    input.obfuscate, textarea, select, chzn-select, .chzn-container-single .chzn-single, .chzn-container-multi .chzn-choices, .blocky, input[type="checkbox"] {
        background: transparent;
        border: none;
        box-shadow: 0 0 0 inset;
        border-bottom: 1px solid #ffd61d;
        margin-top: 2px;
        font-size: 14px;
        color: black;
        text-align: center;
    }

    #searching-box {
        margin: 0 auto;
        text-align: center;
    }

    .chzn-container-multi .chzn-choices .search-choice {
        background: none;
        border: none;
        box-shadow: none;
        margin-top: 5px;
        color: black

    }

    select {
        width: auto;
    }

</style>
<script type="text/javascript">
    $(function () {

    })
</script>

<div class="top-block">
  <div class="row-fluid" style="margin-top: 60px;">
    <div class="span6" style="text-align: right">
      <%= image_tag "logo.png", :id => "site_logo" %>
    </div>
    <div class="span6">
      <h2>
        Renting done professionally
      </h2>
      <%= link_to "Login", "#", :class => "btn btn-inverse btn-large", :style => "color:white;" %>
      <%= link_to "Know More", "#", :class => "btn btn-warning btn-large", :style => "color:black;", :onclick => "$('#know-more').show();$('.top-block').animate({marginTop:'-=650'},1000)" %>
      <%= link_to "Free House Listing", "#", :class => "btn btn-large", :style => "color:black;" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="wrapping">

      <%= form_for @searching do |s| %>
          <div id="searching-box" style="font-size: 22px;">
            <div style="text-align: left;margin-left: 110px;">
              Find me a &nbsp;
              <%= s.fields_for :searching_bhk_configs do |f| %>
                  <%= f.select :bhk_config_id, options_from_collection_for_select(@bhk_configs, 'id', 'name'), {}, {:multiple => true, :'data-placeholder' => " ", :style => "color:white;font-size:12px;width:220px;"} %>
              <% end %>
              at a budget of <%= s.text_field :budget, :style => "width:60px", :class => "obfuscate" %> rupees
              <br>

              <div style="margin-top: -10px;">in and around&nbsp;
                <%= s.fields_for :searching_areas do |f| %>
                    <%= f.select :area_id, options_from_collection_for_select(@areas, 'id', 'name'), {}, {:multiple => true, :'data-placeholder' => " ", :class => "raised", :style => "width:470px;"} %>
                <% end %></div>
              <br>
              <br>
              I would like the house to have the following features:
              <%= s.fields_for :searching_facilities do |f| %>
                  <%= f.select :facility_id, options_from_collection_for_select(@facilities, 'id', 'name'), {}, {:multiple => true, :'data-placeholder' => " ", :style => "width:550px;"} %>
              <% end %>
              <%= s.submit "Go", :class => "btn btn-large", :style => "font-size:20px;width:60px; margin-left:565px;margin-top:-70px;" %>
              <br>
              <br>
              <br>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div id="know-more" style="margin-top: 260px; background: transparent;display: none;">
  <%= link_to "Back to Top", "#", :class => "btn btn-warning btn-large", :style => "color:black;", :onclick => "$('.top-block').animate({marginTop:'+=650'},1000, function(){$('#know-more').hide();})" %>
</div>