<div style="margin-top: 35px;">
  <div class="row-fluid">
    <div class="span4">
      <div class="row-fluid" style="margin-bottom: 5px;">
        <div class="span11" style="text-align: center;background: white;margin:auto;border-radius:10px;border:solid 1px #000000;padding:10px">
          <h3>Active Tasks</h3>
        </div>
      </div>
      <% @tasks.each_with_index do |task, index| %>
          <% if task.active %>
              <div class="row-fluid" style="margin-bottom: 5px;">
                <div class="span11" style="background: white;margin:auto;border-radius:10px;border:solid 1px #000000; padding:10px">
                  <div class="row-fluid">
                    <div class="span9">
                      <%= raw task.interaction.name %>
                      <br/>
                      <br/>
                    </div>
                    <div class="span3" style="text-align: right;">
                      <h2><%= task.due_date.strftime("%e %b") %></h2>
                      <br/>
                    </div>
                  </div>
                  <div class="row-fluid ">
                    <div class="span12 onlyhead" style="margin-left: -4px;padding-left: 5px;">
                      <span style="font-weight: bold"><%= Contact.find(task.assigned_to).name %> | </span>
                      <% task.interaction.contacts.each do |contact| %>
                          <% case contact.name %>
                      <% when "Vendor" %>
                              <% @col="#ff0000" %>
                          <% when "Client" %>
                              <% @col="#00ff00" %>
                          <% when "Employee" %>
                              <% @col="#0000ff" %>
                          <% when "Partner" %>
                              <% @col="#ff00ff" %>
                          <% else %>
                              <% @col="#ff00ff" %>
                          <% end %>

                          <style type="text/css">
                              #cnt_<%= contact.id %>_ <%= task.id %> {
                                  color: <%= @col %>;
                              }
                          </style>

                          <a href="<%= contact_path(contact) %>" id="cnt_<%= contact.id %>_<%= task.id %>"><%= contact.name %></a>
                          |
                      <% end %>

                    </div>
                    <% if task.active? %>
                        <a data-toggle="modal" href="#complete_task_modal<%= index %>">Mark as
                          Complete</a> |
                        <a data-toggle="modal" href="#reschedule_task_modal<%= index %>">Re-Schedule</a>
                        |
                        <a data-toggle="modal" href="#cancel_task_modal<%= index %>">Cancel</a>
                    <% end %>
                  </div>
                </div>
              </div>


              <div class="modal fade" id="cancel_task_modal<%= index %>" style="width:840px;height:500px;">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">×</button>
                  <h3>Cancel Task</h3>
                </div>
                <div class="modal-body">
                  <%= render 'interactions/form', :locals => {:task => task, :prev_comment => "Canclled"} %>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn">Close</a>
                </div>
              </div>

              <div class="modal fade" id="reschedule_task_modal<%= index %>" style="width:840px;height:500px;">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">×</button>
                  <h3>Reschedule task</h3>
                </div>
                <div class="modal-body">
                  <%= render 'interactions/form', :locals => {:task => task, :prev_comment => "Rescheduled"} %>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn">Close</a>
                </div>
              </div>

              <div class="modal fade" id="complete_task_modal<%= index %>" style="width:840px;height:500px;">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">×</button>
                  <h3>Mark Task As Complete</h3>
                </div>
                <div class="modal-body">
                  <%= render 'interactions/form', :locals => {:task => task, :prev_comment => "Marked As Complete"} %>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn">Close</a>
                </div>
              </div>


          <% end %>
      <% end %>
    </div>
    <div class="span4">
      <div class="row-fluid" style="margin-bottom: 5px;">
        <div class="span11" style="text-align: center;background: white;margin:auto;border-radius:10px;border:solid 1px #000000;padding:10px">
          <h3>Interaction History</h3>
        </div>
      </div>
      <% @interactions.each_with_index do |interaction, index| %>

          <% if interaction.taskings.first %>
              <% unless interaction.taskings.first.active %>

                  <div class="row-fluid" style="margin-bottom: 5px;">
                    <div class="span11" style="background: white;margin:auto;border-radius:10px;border:solid 1px #000000; padding:10px">
                      <div class="row-fluid">
                        <div class="span9">
                          <%= raw interaction.name %>
                          <br/>
                          On <%= interaction.created_at %> by <%= Contact.find(interaction.created_by).name %>
                          <br/>
                        </div>
                      </div>
                      <div class="row-fluid ">
                        <div class="span12 onlyhead" style="margin-left: -4px;padding-left: 5px;">
                          <span style="font-weight: bold">| </span>
                          <% interaction.contacts.each do |contact| %>
                              <% case contact.name %>
                          <% when "Vendor" %>
                                  <% @col="#ff0000" %>
                              <% when "Client" %>
                                  <% @col="#00ff00" %>
                              <% when "Employee" %>
                                  <% @col="#0000ff" %>
                              <% when "Partner" %>
                                  <% @col="#ff00ff" %>
                              <% else %>
                                  <% @col="#ff00ff" %>
                              <% end %>

                              <style type="text/css">
                                  #cnt_<%= contact.id %>_ <%= interaction.id %> {
                                      color: <%= @col %>;
                                  }
                              </style>

                              <a href="<%= contact_path(contact) %>" id="cnt_<%= contact.id %>_<%= task.id %>"><%= contact.name %></a>
                              |
                          <% end %>

                        </div>
                      </div>
                    </div>
                  </div>

              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>



