<%#= javascript_include_tag "exclusions/dhtmlxcommon" %>
<%#= javascript_include_tag "exclusions/dhtmlxgrid" %>
<%#= javascript_include_tag "exclusions/dhtmlxgrid_filter" %>
<%#= javascript_include_tag "exclusions/dhtmlxgrid_srnd" %>
<%#= javascript_include_tag "exclusions/dhtmlxgrid_start" %>
<%#= javascript_include_tag "exclusions/dhtmlxgridcell" %>

<%= javascript_include_tag "exclusions/jquery.dataTables" %>
<%= stylesheet_link_tag "exclusions/jquery.dataTables" %>

<%= javascript_include_tag "exclusions/ColVis" %>
<%= stylesheet_link_tag "exclusions/ColVis" %>


<h1>Listing contacts</h1>

<!--<table id="dhtmlx_contacts_table">-->
<table id="datatable_contacts_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Labels</th>
    <th>Properties Linked</th>
    <th>Last Interaction</th>
    <th>Next Task</th>
    <th>Client Type</th>
    <th>Last Interaction Date</th>
  </tr>
  </thead>
  <tbody>
  <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, contact_path(contact), :target => "_blank" %></td>
        <td><%= contact.phones.map { |phone| phone.name }.join(",") %></td>
        <td><a href="mailto:<%= contact.emails.map { |email| email.name }.join(",") %>"><%= contact.emails.map { |email| email.name }.join(",") %></a></td>
        <td><%= contact.labellings.map { |label| label.name }[0..3].join(",") %></td>
        <td><%= contact.flats.map { |flat| flat.name }[0..3].join(",") %></td>
        <%#These methods are defined in contact helpers  %>
        <td><%= get_interaction_td_for_contact(contact) %></td>
            <td><%= due_overdue_task_count(contact) %></td>
            <td><%= contact.contact_types.first.name %></td>
        <td><%= get_interaction_date(contact) %></td>
            </tr>
        <% end %>
  </tbody>
</table>

<br/>


<script type="text/javascript">

    $(document).ready(function() {
    	$('#datatable_contacts_table').dataTable( {
    		"bPaginate": true,
            "sPaginationType":"full_numbers",
    		"bLengthChange": true,
    		"bFilter": true,
    		"bSort": true,
    		"bInfo": true,
            "oSearch": {"sSearch": ""},
            "sDom": 'C<"clear">lfrtip',
    		"bAutoWidth": false } );
    } );

</script>