<%= content_for :head do %>

    <script type="text/javascript">
        $(function () {
            $("select").chosen();
            $('#all_connections').dataTable({
                "bJQueryUI":true,
                "sPaginationType":"full_numbers",
                "iDisplayLength":4,
                "sDom":'rtfp'
            });
            $('#all_properties').dataTable({
                "bJQueryUI":true,
                "sPaginationType":"full_numbers",
                "iDisplayLength":4,
                "sDom":'rtfp'
            });

        });
    </script>
    <%= stylesheet_link_tag "exclusions/jquery_data_table" %>
    <%= javascript_include_tag "exclusions/jquery.dataTables.min" %>
    <style type="text/css">

        input, textarea, chzn-select, .chzn-container-single .chzn-single, .chzn-container-multi .chzn-choices, .blocky, input[type='checkbox'] {
            background: rgb(252, 234, 187); /* Old browsers */
            background: -moz-linear-gradient(top, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(251, 223, 147) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(252, 234, 187)), color-stop(50%, rgb(252, 205, 77)), color-stop(100%, rgb(251, 223, 147))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(251, 223, 147) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(251, 223, 147) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(251, 223, 147) 100%); /* IE10+ */
            background: linear-gradient(top, rgb(252, 234, 187) 0%, rgb(252, 205, 77) 50%, rgb(251, 223, 147) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fceabb', endColorstr = '#fbdf93', GradientType = 0); /* IE6-9 */
            color: black;
        }

        .chzn-choices {
            border-radius: 5px;
        }

        .chzn-container-multi .chzn-choices .search-field .default {
            color: black;
        }

        .topped {
            border-top: 1px solid #d3d3d3;
            padding-top: 5px;
            margin-top: 5px;
        }

        .blocky {
            border: solid 1px black;
            padding: 5px;
            margin-top: 3px;
            border-radius: 5px;
        }

        label input, label textarea, label select {
            display: inline;
        }

    </style>
<% end %>

<%= semantic_form_for @contact do |f| %>

    <!-- Banner -->

    <div class="content" style="margin-top: 40px;padding-top: 10px;padding-bottom: 0">
      <div class="row-fluid">
        <div class="span7">
          <h1 style="position:relative;">
            <a href="#moreinfo" data-toggle="modal" data-backdrop="static"><%= @contact.name %></a>

            <small style="margin-left: 20px;">
              <% unless @contact.phones.blank? %>
                  <%= @contact.phones.first.name %> |
              <% end %>
              <% unless @contact.emails.blank? %>
                  <%= @contact.emails.first.name %> |
              <% end %>
              <%= @contact.contact_types.first.name %>
            </small>
          </h1>
          <%= select_tag "contact[labelling_ids][]", options_from_collection_for_select(@labellings, :id, :name, @contact.labelling_ids), :multiple => true, :class => "chzn-container-multi span7", :'data-placeholder' => "Add labels to the contact..." %>
        </div>
        <div class="span5">
          <%= f.text_area :qknote, :style => "height:59px;", :class => "span4", :placeholder => "Enter the Status Update for the Contact here" %>
          <%= f.submit "Confirm", :class => "btn btn-inverse", :style => "height:69px;width:65px;" %>
          <%= link_to image_tag("facebook.png", :size => "60x60", :class => "pull-right", :style => "margin-top:7px"), @contact.linkedin %>
          <%= link_to image_tag("facebook1.png", :size => "60x60", :class => "pull-right", :style => "margin-top:7px"), @contact.facebook %>

        </div>
      </div>
    </div>



    <div style="margin-top: 10px;">
      <div class="row-fluid">

        <!-- First Panel with Connections and Properties-->

        <div class="span5" style="margin-left: 20px;">

          <div class="content" style="height:450px;overflow: auto;">
            <div id="moreinfo" class="modal hide fade">
              <div class="modal-header">
                <h1><%= @contact.name %></h1>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span3" style="text-align: left;margin-left: 0;font-weight: bold">Phone:</div>
                  <div class="span9">
                    <% @contact.phones.each do |phone| %>
                        <%= phone.name %>
                        <br/>
                    <% end %>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span3" style="text-align: left;margin-left: 0;font-weight: bold">Email:</div>
                  <div class="span9">
                    <% @contact.emails.each do |email| %>
                        <%= email.name %>
                        <br/>
                    <% end %>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span3" style="text-align: left;margin-left: 0;font-weight: bold">Address:</div>
                  <div class="span9">
                    <% @contact.addresses.each do |address| %>
                        <%= raw(address.name) %>
                        <br/>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="pull-left close"><%= link_to "Edit", edit_contact_path(@contact) %></div>
                <div class="close" data-dismiss="modal">Back</div>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span9" style="font-weight: bold;">
                <h3 style="margin-bottom: 5px;">Properties</h3>
              </div>
              <%= link_to "Add Property", new_property_path(:contact=>@contact.id) %>
              <%= render :partial => 'properties_table' %>
            </div>
            <br/>

            <div class="row-fluid">
              <div class="span9" style="font-weight: bold;">
                <h3>Connections</h3>
                <table>
                  <%= f.fields_for :connections do |connection| %>
                      <% if connection.object.new_record? %>
                          <tr>
                            <td><%= connection.select :other_id, options_from_collection_for_select(@contacts, :id, :name), {:multiple => false}, {:class => "chzn-select span3", :'data-placeholder' => "Select Contact"} %></td>
                            <td><%= connection.text_field :relationship, :class => "span3", :style => "margin-top:5px;" %></td>
                            <td><%= f.submit "Add", :class => "btn btn-inverse span1", :style => "margin-top:-4px;" %></td>
                          </tr>
                      <% end %>
                  <% end %>

                </table>

              </div>
              <br/>

              <%= render :partial => 'connections_table' %>

            </div>

          </div>
        </div>

        <!-- Second Panel with Background and Tasks-->

        <div class="span3" style="margin-left: 50px">
          <div class="content">
            <h2>Active Tasks</h2>
          </div>
        </div>

        <!-- Third Panel with Action History -->

        <div class="span3" style="margin-left: 50px">
          <div class="content">
            <h2>Actions History</h2>

          </div>
        </div>

      </div>
    </div>
<% end %>
