<%= content_for :head do %>

    <script type="text/javascript">
        $(function () {
            $("select").chosen();
//            $('#all_connections').dataTable({
//                "bJQueryUI":true,
//                "sPaginationType":"full_numbers",
//                "iDisplayLength":4,
//                "sDom":'rtfp'
//            });
//            $('#all_properties').dataTable({
//                "bJQueryUI":true,
//                "sPaginationType":"full_numbers",
//                "iDisplayLength":4,
//                "sDom":'rtfp'
//            });

        });
    </script>

<% end %>

<%= semantic_form_for @contact do |f| %>

    <!-- Banner -->

    <div class="content" style="margin-top: 40px;padding-top: 10px;padding-bottom: 0">
      <div class="row-fluid">
        <div class="span7">
          <h1 style="position:relative;">
            <a href="#moreinfo" data-toggle="modal" data-backdrop="static"><%= @contact.name %></a>

            <small style="margin-left: 20px;">
              <% unless @contact.phones.blank? %>
                  <%= @contact.phones.first.name %> |
              <% end %>
              <% unless @contact.emails.blank? %>
                  <%= @contact.emails.first.name %> |
              <% end %>
              <%= @contact.contact_types.first.name unless @contact.contact_types.blank?%>
            </small>
          </h1>
          <%= select_tag "contact[labelling_ids][]", options_from_collection_for_select(Labelling.all, :id, :name, @contact.labelling_ids), :multiple => true, :class => "chzn-container-multi span7", :'data-placeholder' => "Add labels to the contact..." %>
        </div>
        <div class="span5">
          <%= f.text_area :qknote, :style => "height:59px;", :class => "span4", :placeholder => "Enter the Status Update for the Contact here" %>
          <%= f.submit "Confirm", :class => "btn btn-inverse", :style => "height:69px;width:65px;" %>
          <%= link_to image_tag("facebook.png", :size => "60x60", :class => "pull-right", :style => "margin-top:7px"), @contact.linkedin %>
          <%= link_to image_tag("facebook1.png", :size => "60x60", :class => "pull-right", :style => "margin-top:7px"), @contact.facebook %>

        </div>
      </div>
    </div>

    <div style="margin-top: 10px;">
      <div class="row-fluid">

        <!-- First Panel with Connections and Properties-->

        <div class="span2">
          <div class="content" style="height:450px;overflow: auto;">
            <div id="moreinfo" class="modal hide fade">
              <div class="modal-header">
                <h1><%= @contact.name %></h1>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span3" style="text-align: left;margin-left: 0;font-weight: bold">Phone:</div>
                  <div class="span9">
                    <% @contact.phones.each do |phone| %>
                        <%= phone.name %>
                        <br/>
                    <% end %>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span3" style="text-align: left;margin-left: 0;font-weight: bold">Email:</div>
                  <div class="span9">
                    <% @contact.emails.each do |email| %>
                        <%= email.name %>
                        <br/>
                    <% end %>
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span3" style="text-align: left;margin-left: 0;font-weight: bold">Address:</div>
                  <div class="span9">
                    <% @contact.addresses.each do |address| %>
                        <%= raw(address.name) %>
                        <br/>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="pull-left close"><%= link_to "Edit", edit_contact_path(@contact) %></div>
                <div class="close" data-dismiss="modal">Back</div>
              </div>
            </div>


            <div class="row-fluid">
              <div class="span9" style="font-weight: bold;">
                <h3 style="margin-bottom: 5px;">Properties</h3>
              </div>
              <table>
              <%= f.fields_for :flat_contacts do |flat_contact| %>
                  <% if flat_contact.object.new_record? %>
                      <tr>
                        <td><%= flat_contact.select :flat_id, options_from_collection_for_select(Flat.all, :id, :flat_key), {:multiple => false}, {:class => "chzn-select input-medium", :'data-placeholder' => "Select Property"} %></td>
                      </tr>
                      <tr>
                        <td><%= flat_contact.select :name,options_from_collection_for_select(@labellings,"id","name"), :class => "input-small", :style => "margin-top:5px;" %></td>
                      </tr>
                      <tr>
                        <td><%= f.submit "Add", :class => "btn btn-inverse span1", :style => "margin-top:-4px;" %></td>

                      </tr>
                  <% end %>
              <% end %>
                </table>

              <%= link_to "Add Property", new_property_path(:contact=>@contact.id) %>
              <%= render :partial => 'properties_table' %>
            </div>
            <br/>

            <div class="row-fluid">
              <div class="span5" style="font-weight: bold;">
                <h3>Connections</h3>
                <table>
                  <%= f.fields_for :connections do |connection| %>
                      <% if connection.object.new_record? %>
                          <tr>
                            <td><%= connection.select :other_id, options_from_collection_for_select(@contacts, :id, :name), {:multiple => false}, {:class => "chzn-select input-medium", :'data-placeholder' => "Select Contact"} %></td>
                            </tr>
                          <tr>
                            <td><%= connection.text_field :relationship, :class => "input-medium", :style => "margin-top:5px;" %></td>
                          </tr>
                          <tr>
                            <td><%= f.submit "Add", :class => "btn btn-inverse span1", :style => "margin-top:-4px;" %></td>

                          </tr>
                      <% end %>
                  <% end %>

                </table>
                <a data-backdrop="static" data-toggle="modal" href="#add_contact">Add contact!</a>
                <br/>
                <%= render :partial => 'connections_table' %>
              </div>
              <br/>
            </div>
          </div>
        </div>

        <!-- Second Panel with Background and Tasks-->

        <div class="span9">
          <div class="span6">
            <div class="info-unit page-sized">

              <!--Header and Search for Tasks-->
              <%= render 'layouts/partials/interaction_tasks_partial' %>
            </div>
          </div>
        </div>
      </div>

    </div>
<% end %>


<!--Modal for contact form-->

<br>

<div class="modal hide fade" id="add_contact">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>

    <h3>Add a Contact</h3>
  </div>
  <div class="modal-body">
    <%= form_for @new_contact do |contact| %>
        <div class="blabel">Name</div>
        <%= contact.text_field :name %>
        <br>
        <%= contact.fields_for :phones, @phone do |phone| %>
            <div class="blabel">Phone</div>
            <%= phone.phone_field :name %>
        <% end %>
        <br>
        <%= contact.fields_for :emails, @email do |email| %>
            <div class="blabel">Email</div>
            <%= email.text_field :name %>
        <% end %>
  </div>
  <div class="modal-footer">
    <%= contact.submit "Save Changes", :class => "btn btn-primary" %>
    <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
  </div>

    <% end %>
</div>