<%= content_for :head do %>

    <style type="text/css">
        a.lefty {
            color: white;
        }

        a.lefty:hover {
            color: #daa520;
        }

        html, body {
            background: white;
        }

        .chzn-container-multi .chzn-choices {
            width: 206px;
        }

        .timepicker123 {
            font-size: 12px;
            height: 24px;
            padding-left: 3px;
            width: 215px;
        }


    </style>

    <script type="text/javascript">
        $(function () {

            $('select.label').change(function () {
                var a = "#edit_contacts_" +<%= @contact.id %>;
                var b = "'" + a + "'";
                $('.edit_contact').submit();
            });

        });


    </script>

<% end %>

<%= form_for @contact, :id => 'frm' do |f| %>

    <div class="row-fluid page-sized" style="margin-top: -5px;">

      <!-- Left Banner -->

      <div class="span2" style="margin-left: -10px;font-size: 12px;">
        <div class="info-unit" style="background: white;border:none;width:900px;height:50px;margin-bottom: 40px;">
          <h2 style="color:#000000;">
            <%= @contact.name.titlecase %>
            <%= select_tag "contact[labelling_ids][]", options_from_collection_for_select(Labelling.all, :id, :name, @contact.labelling_ids), :multiple => true, :class => "label", :'data-placeholder' => "Select Labels", :style => "border-radius:5px;" %>
          </h2>

          <h3>
            <%= @contact.contact_types.first.name unless @contact.contact_types.blank? %> |
            <% if @contact.phones.blank? %>
                No Phones
            <% else %>
                <%= @contact.phones.first.name %>
            <% end %> |
            <% if @contact.emails.blank? %>
                No Emails
            <% else %>
                <a href="mailto: <%= @contact.emails.first.name %>"><%= @contact.emails.first.name %></a>
            <% end %> |
            <a href="#moreinfo" data-toggle="modal" data-backdrop="static">Details</a> |
            <%= link_to "Edit", edit_contact_path %>
          </h3>

          <div class="modal hide fade" id="new_connection">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h3>New Connection</h3>
            </div>
            <div class="modal-body">
              <%= f.fields_for :connections do |connection| %>
                  <% if connection.object.new_record? %>
                      <%= connection.select :other_id, options_from_collection_for_select(@contacts, :id, :name), {:multiple => false, :include_blank => ''}, {:class => "chzn-select", :'data-placeholder' => "Select Contact"} %>
                      <%= connection.text_field :relationship, :class => "input-medium", :style => "margin-top:-10px;" %>
                  <% end %>
              <% end %>
            </div>
            <div class="modal-footer">
              <%= f.submit "Add", :class => "btn btn-inverse pull-right" %>
              <a href="#" class="btn pull-left" data-dismiss="modal">Cancel</a>
            </div>
          </div>


        </div>


      </div>

      <!--Tasks and Interactions Panel-->

      <div class="span10" style="position:absolute;top: 120px;left:-5px;padding-left: 15px;">
        <div class="row-fluid">
          <%= render "/layouts/partials/interaction_tasks_partial", :f => f %>
        </div>
        <div style="background: #ffffff;position: absolute;left:683px;top:340px;">
          <h3>Link a Property</h3>
          <table>
            <%= f.fields_for :flat_contacts do |flat_contact| %>
                <% if flat_contact.object.new_record? %>

                    <tr>
                      <td>Property:</td>
                      <td><%= flat_contact.select :flat_id, options_from_collection_for_select(Flat.all, :id, :flat_key), {:multiple => false, :include_blank => ''}, {:class => "ss", :'data-placeholder' => "Select Property"} %></td>
                      <td></td>
                      <td>Relationship:</td>
                      <td><%= flat_contact.select :labelling_id, options_from_collection_for_select(@labellings, "id", "name"), {:multiple => false, :include_blank => ''}, {:class => "chzn-select", :'data-placeholder' => "Select Relationship with Property", :style => "margin-top:5px;"} %></td>
                    </tr>
                    <tr>
                      <td>Comment:</td>
                      <td><%= flat_contact.text_field :name %></td>


                <% end %>
            <% end %>
            <td></td>
            <td><%= f.submit "Add", :class => "btn btn-inverse" %></td>
            </tr>

          </table>
          <div class="orangey" style="height: 140px;overflow: auto;">
            <h3>Listing Properties</h3>
            <% @contact.flat_contacts.each do |flat_contact| %>
                <% unless flat_contact.labelling.blank? %>
                    <%= flat_contact.labelling.name %>
                    : <%= link_to flat_contact.flat.flat_key, show_property_path(flat_contact.flat), :class => "property_link" %>
                    <%= flat_contact.name %>
                    <%= link_to "Remove", flat_contact, :method => :delete, :class => 'pull-right' %>
                    <br>
                <% end %>

            <% end %>
          </div>
        </div>
        <div id="new_connection1" style="background: #ffffff;position: absolute;left:683px;top:610px;padding: 2px;">
          <h3>Link a Contact</h3>
          <table>
            <tr>
              <%= f.fields_for :connections do |connection| %>
                  <% if connection.object.new_record? %>
                      <td><%= connection.select :other_id, options_from_collection_for_select(@contacts, :id, :name), {:multiple => false, :include_blank => ''}, {:class => "chzn-select", :'data-placeholder' => "Select Contact"} %>
                      </td>
                      <td><%= connection.text_field :relationship, :class => "input-medium", :style => "margin-top:5px;" %>
                      </td>
                  <% end %>
              <% end %>
              <td><%= f.submit "Add", :class => "btn btn-inverse pull-right" %></td>
              <td><%= link_to "Network Map", network_map_path(@contact), :class => "btn btn-info span2 sized", :style => "" %></td>
            </tr>
          </table>
          <div class="orangey">

            <h3>Listing connections</h3>

            <table>
              <tr>

              </tr>

              <% @contact.connections.each do |connection| %>
                  <tr>
                    <td><%= connection.other_id %></td>
                    <td><%= connection.relationship %></td>
                    <td><%= link_to 'Show', connection %></td>
                    <td><%= link_to 'Edit', "" %></td>
                    <td><%= link_to 'Destroy', connection, confirm: 'Are you sure?', method: :delete %></td>
                  </tr>

              <% end %>

            </table>

          </div>
        </div>

      </div>
    </div>

    <!--Details Modal -->

    <div id="moreinfo" class="modal hide fade">
      <div class="modal-header">
        <h1><%= @contact.name %></h1>
      </div>
      <div class="modal-body">
        <div class="row-fluid">
          <div class="span3" style="text-align: left;margin-left: 0;font-weight: bold">Phone:</div>
          <div class="span9">
            <% @contact.phones.each do |phone| %>
                <%= phone.name %>
                <br/>
            <% end %>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span3" style="text-align: left;margin-left: 0;font-weight: bold">Email:</div>
          <div class="span9">
            <% @contact.emails.each do |email| %>
                <%= email.name %>
                <br/>
            <% end %>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span3" style="text-align: left;margin-left: 0;font-weight: bold">Address:</div>
          <div class="span9">
            <% @contact.addresses.each do |address| %>
                <%= raw(address.name) %>
                <br/>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left close"><%= link_to "Edit", edit_contact_path(@contact) %></div>
        <div class="close" data-dismiss="modal">Back</div>
      </div>
    </div>

    <!--Link Property Modal -->

    <div class="modal hide fade" id="link_property">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>Link a Property</h3>
      </div>
      <div class="modal-body">
        <%= f.fields_for :flat_contacts do |flat_contact| %>
            <% if flat_contact.object.new_record? %>
                <table>
                  <tr>
                    <td>Property:</td>
                    <td><%= flat_contact.select :flat_id, options_from_collection_for_select(Flat.all, :id, :flat_key), {:multiple => false, :include_blank => ''}, {:class => "chzn-select", :'data-placeholder' => "Select Property"} %></td>
                  </tr>
                  <tr>
                    <td>Relationship:</td>
                    <td><%= flat_contact.select :labelling_id, options_from_collection_for_select(@labellings, "id", "name"), {:multiple => false, :include_blank => ''}, {:class => "chzn-select", :'data-placeholder' => "Select Relationship with Property", :style => "margin-top:5px;"} %></td>
                  </tr>
                  <tr>
                    <td>Comment:</td>
                    <td><%= flat_contact.text_field :name %></td>
                  </tr>
                </table>
            <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Add", :class => "btn btn-inverse btn-large" %>
      </div>
    </div>



<% end %>


<!--Modal for contact form-->

<br>

<div class="modal hide fade" id="add_contact">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>

    <h3>Add a Contact</h3>
  </div>
  <div class="modal-body">
    <%= form_for @new_contact do |contact| %>
        <div class="blabel">Name</div>
        <%= contact.text_field :name %>
        <br>
        <%= contact.fields_for :phones, @phone do |phone| %>
            <div class="blabel">Phone</div>
            <%= phone.phone_field :name %>
        <% end %>
        <br>
        <%= contact.fields_for :emails, @email do |email| %>
            <div class="blabel">Email</div>
            <%= email.text_field :name %>
        <% end %>
        </div>
        <div class="modal-footer">
          <%= contact.submit "Save Changes", :class => "btn btn-primary" %>
          <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
        </div>

    <% end %>
    </div>
<style type="text/css">
    #interaction_name {
        width: 88%;
    }
</style>

