<div class="blabel">
  Flat Name*:
</div>

<%= f.text_field :name, :value => @flat.name %>
<br>
<br>

<div class="blabel">Source:</div>
<%= f.select :flatype_id, options_from_collection_for_select(@sources, 'id', 'name', @flat.flatype_id), {:include_blank => ''} %>
<br>

<div class="blabel">Configuration*:</div>
<%= f.select :bhk_config_id, options_from_collection_for_select(@bhks, 'id', 'name', @flat.bhk_config_id), {:include_blank => ''}, {} %>
<br>

<div class="blabel">Furnishing Status:</div>
<%= f.select :furnstat_id, options_from_collection_for_select(@furnstats, 'id', 'name', @flat.furnstat_id), {:include_blank => ''} %>
<br>
<br>

<div class="blabel">Expected Rent:</div>
<%= f.fields_for :expected_rents, @expected_rent do |er| %>
    <%= er.text_field :value %>
<% end %>

<div class="blabel">Available From:</div>
<%= f.fields_for :available_froms, @available_from do |er| %>
    <%#= er.datepicker :avdate, :value=>@flat.available_froms.last.avdate, :dateFormat => "dd/mm/yy" %>
    <%= er.text_field :avdate %>
<% end %>
<br>

