

<div class="blabel">
  Flat Name*:
</div>

<%= f.text_field :name, :value => @flat.name %>
<br>
<br>

<div class="blabel">Source:</div>
<%= f.select :flatype_id, options_from_collection_for_select(@sources, 'id', 'name', @flat.flatype_id), {:include_blank => ''} %>
<br>

<div class="blabel">Configuration*:</div>
<%= f.select :bhk_config_id, options_from_collection_for_select(@bhks, 'id', 'name', @flat.bhk_config_id), {:include_blank => ''}, {} %>
<br>

<div class="blabel">Furnishing Status:</div>
<%= f.select :furnstat_id, options_from_collection_for_select(@furnstats, 'id', 'name', @flat.furnstat_id), {:include_blank => ''} %>
<br>
<br>

<div class="blabel">Expected Rent:</div>
<%= f.fields_for :expected_rents, @expected_rent do |er| %>
    <%= er.text_field :name %>
<% end %>

<div class="blabel">Available From:</div>
<%= f.fields_for :available_froms, @available_from do |er| %>
    <%#= er.datepicker :avdate, :value=>@flat.available_froms.last.avdate, :dateFormat => "dd/mm/yy" %>
    <%= er.text_field :name %>
<% end %>
<br>

<div class="blabel">Related Party:</div>
<br>
<% @flat.flat_contacts.each do |flat_contact| %>
    <%= f.fields_for :flat_contacts, flat_contact do |fc| %>
        <%= render 'buildings/partials/select_tag_partial',{:fc=>fc,:flat_contact=>flat_contact} %>
        <%= fc.text_field :name, :value => flat_contact.name %>

        <%= fc.hidden_field :rent_year_id, :value => @rent_year.id %>
    <% end %>
<% end %>
<%= f.link_to_add 'Add another', :flat_contacts %>
<br>
<br>
<span style="font-style: italic;">Can't find the person you are looking for?</span>
<a data-backdrop="static" data-toggle="modal" href="#add_contact">Add him!</a>
<br>

<div class="modal hide fade" id="add_contact">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>

    <h3>Add a Contact</h3>
  </div>
  <div class="modal-body">
    <%= fields_for @contact do |contact| %>
        <div class="blabel">Name</div>
        <%= contact.text_field :name %>
        <br>
        <%= contact.fields_for :phones, @phone do |phone| %>
            <div class="blabel">Phone</div>
            <%= phone.phone_field :name %>
        <% end %>
        <br>
        <%= contact.fields_for :emails, @email do |email| %>
            <div class="blabel">Email</div>
            <%= email.text_field :name %>
        <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= b.submit "Save Changes", :class => "btn btn-primary", :id=>"contacting" %>
    <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
  </div>
</div>