<table class="table table-condensed" cellpadding="0" cellspacing="0" border="0" id="all_services">
  <thead>
  <tr style="height:15px;">
    <th style="text-align: left">Service</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: left">Phone</th>
    <th style="text-align: left">Add Phone</th>
    <th style="text-align: left"></th>
  </tr>
  </thead>
  <tbody style="border-bottom: solid 1px #daa520; margin-bottom: 10px;">
  <% @building_services.each do |bs| %>
      <% unless bs.name.blank? %>
          <tr>
            <td><%= bs.service.name %></td>
            <td><%= bs.name %></td>
            <td><%= bs.building_service_helplines.first.name %></td>
            <td>
              <%= building_service.fields_for :building_service_helplines, bs do |repeater| %>
                  <%= repeater.text_field :name, :placeholder => "Helpline Number" %>
                  <%= repeater.link_to_remove "Remove" %>
              <% end %>
            </td>
            <td>
              <a href="#details_<%= bs.id %>" data-toggle="modal" data-backdrop="static">More...</a>
            </td>
            <td style="background: transparent;"><%= link_to "Delete", :method => :delete %></td>
          </tr>
          <div id="details_<%= bs.id %>" class="modal hide fade">
            <div class="modal-header">
              <h2><%= bs.service.name %> : <%= bs.name %></h2>
            </div>
            <div class="modal-body" style="height:300px;overflow:auto;">
              <h3>Phones:</h3>
              <br/>
              <% bs.building_service_helplines.each do |phone| %>
                   <%= phone.name %>
                  <br/>
              <% end %>
              <br/>
              <br/>
              <h3>Notes:</h3>
              <br/>
              <% bs.building_service_notes.each do |note| %>
                  <%= note.name%>
                  <br/>
              <% end %>
            </div>
            <div class="modal-footer">
              <div class="close" data-dismiss="modal">Back</div>
            </div>
          </div>
      <%- end -%>
  <%- end -%>
  </tbody>
</table>

