<table class="display" cellpadding="0" cellspacing="0" border="0" id="all_services">
  <thead>
  <tr style="height:15px;">
    <th style="text-align: left">Service</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: left">Phone</th>
    <th style="text-align: left"></th>
    <th style="text-align: left"></th>
  </tr>
  </thead>
  <tbody style="border-bottom: solid 1px #daa520; margin-bottom: 10px;">
  <% @building_services.each do |bs| %>
      <% unless bs.name.blank? %>
          <tr>
            <td style="background: transparent;"><%= bs.service.name %></td>
            <td style="background: transparent;"><%= bs.name %></td>
            <td style="background: transparent;"><%= bs.building_service_helplines.first.phone %></td>
            <td style="background: transparent;">
              <a href="#details_<%= bs.id %>" data-toggle="modal" data-backdrop="static">More...</a>
            </td>
            <td style="background: transparent;"><%= link_to "Delete", :method => :delete %></td>
          </tr>
          <div id="details_<%= bs.id %>" class="modal hide fade">
            <div class="modal-header">
              <h2><%= bs.service.name %> : <%= bs.name %></h2>
            </div>
            <div class="modal-body" style="height:300px;overflow:auto;">
              <h3>Phones:</h3>
              <br/>
              <% bs.building_service_helplines.each do |phone| %>
                   <%= phone.phone %>
                  <br/>
              <% end %>
              <br/>
              <br/>
              <h3>Notes:</h3>
              <br/>
              <% bs.building_service_notes.each do |note| %>
                  <%= note.comment%>
                  <br/>
              <% end %>
            </div>
            <div class="modal-footer">
              <div class="close" data-dismiss="modal">Back</div>
            </div>
          </div>
      <%- end -%>
  <%- end -%>
  </tbody>
</table>

