<script type="text/javascript">
    $(function () {

    })
</script>

<div class="content" style="margin-top: 25px;">

  <div class="row">
    <h1 style="margin-left: 20px">
      Property
      <small>Quick Add</small>
    </h1>
  </div>
</div>

<div class="content">
  <div class="row-fluid">
    <div class="span4">
      <%= select_tag :selected_building, options_from_collection_for_select(@buildings, 'id', 'name'), {:include_blank => '', :class => 'autosubmit'} %>
    </div>
    <%= form_for(@building, :html => {:class => "submit_on_change"}) do |b| %>
        <div class="span4">
          <%= b.text_field :name %>
          <%= b.select :primary_locality_id, options_from_collection_for_select(@localities, 'id', 'name', @building.primary_locality_id) %>
        </div>
        <div class="span4">

        </div>
        <%= b.submit %>
    <% end %>
  </div>
</div>
