<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAgrj58PbXr2YriiRDqbnL1RSqrCjdkglBijPNIIYrqkVvD1R4QxRl47Yh2D_0C1l5KXQJGrbkSDvXFA" type="text/javascript"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
<script type="text/javascript">

    var map;
    var myLatlng = new google.maps.LatLng(18.9647, 72.8258);
    function initialize() {

        var myOptions = {
            zoom:4,
            center:myLatlng,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map'),
                myOptions);

        // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = new google.maps.LatLng(position.coords.latitude,
                        position.coords.longitude);

                //the image is not coming properly hence commented out
//                var infowindow = new google.maps.InfoWindow({
//                    map:map,
//                    position:pos,
//                    content:'Showing your Current Location '
//                });

                map.setCenter(pos);
            }, function () {

                handleNoGeolocation(true);
            });
        } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation(false);
        }
        //this is the code for marker
        var marker = new google.maps.Marker({
            position:myLatlng,
            map:map,
            title:"This is where you are"
        });


        //this is the code for search in the map
        geocoder = new google.maps.Geocoder();

        //this is the code for autocomplete
        var input = document.getElementById('address');
        var autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            infowindow.close();
            var place = autocomplete.getPlace();
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }

            var image = new google.maps.MarkerImage(
                    place.icon,
                    new google.maps.Size(71, 71),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(17, 34),
                    new google.maps.Size(35, 35));
            marker.setIcon(image);
            marker.setPosition(place.geometry.location);

            var address = '';
            if (place.address_components) {
                address = [(place.address_components[0] &&
                        place.address_components[0].short_name || ''),
                    (place.address_components[1] &&
                            place.address_components[1].short_name || ''),
                    (place.address_components[2] &&
                            place.address_components[2].short_name || '')
                ].join(' ');
            }

            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
        });


        //this code enables user to click on the market and zoom the map

        google.maps.event.addDomListener(marker, 'click', function () {
            map.setZoom(map.getZoom()*2);
            map.setCenter(marker.getPosition());
        });

        //this is the code to allow user to click anywhere on the map and it returns latitude and logitude and moves the marker there

        //we first add the event listener
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });

        function placeMarker(location) {
            if (marker) { //on vérifie si le marqueur existe
                marker.setPosition(location); //on change sa position
            } else {
                marker = new google.maps.Marker({ //on créé le marqueur
                    position:location,
                    map:map
                });
            }

            document.getElementById('building_address_latitude').value = location.lat();
            document.getElementById('building_address_longitude').value = location.lng();
            document.getElementById('lat_hidden_field').value = location.lat();
            document.getElementById('lon_hidden_field').value = location.lng();
            getAddress(location);
        }

        function getAddress(latLng) {
            geocoder.geocode({'latLng':latLng},
                    function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[0]) {
                                document.getElementById("address").value = results[0].formatted_address;
                            }
                            else {
                                document.getElementById("address").value = "No results";
                            }
                        }
                        else {
                            document.getElementById("address").value = status;
                        }
                    });
        }


    }
    //end of initialize

    //this is the function which searches the map
    function codeAddress() {
        var address = document.getElementById("address").value;
        geocoder.geocode({ 'address':address}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map:map,
                    position:results[0].geometry.location
                });
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
    }

    function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
            var content = 'Error: The Geolocation service failed.';
        } else {
            var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
            map:map,
            position:new google.maps.LatLng(60, 105),
            content:content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
    }


    google.maps.event.addDomListener(window, 'load', initialize);


</script>



<h2>Location</h2>

<%= nested_form_for(@building, :html => {:class => "submit_on_change"}) do |b| %>
    <div class="row-fluid">
      <div class="span3">
        <%= b.label :road %>
      </div>
      <div class="span4">
        <%= b.text_field :road, :value => @building.road, :class => "span3" %>
      </div>
    </div>
    <%= hidden_field_tag :came_from, "location" %>
    <%= hidden_field_tag :flat_id, @flat.id %>

    <div class="row-fluid">
      <div class="span3">
        <%= b.label "Also considered to be in" %>
      </div>
      <div class="span4">
        <%#= fields_for 'building_localities[]' do |location| %>
        <%#= location.select :locality_id, options_from_collection_for_select(@localities, 'id', 'name', @building.building_localities.map { |l| l.id }), {}, {:multiple => true, :class => 'chzn-container-multi span3'} %>
        <%# end %>
      </div>
    </div>


    <div class="row-fluid">
      <div class="span3">
        <%= b.label :pincode %>
      </div>
      <div class="span4">
        <%= b.number_field :pincode, :value => @building.pincode, :class => "span3" %>
      </div>
    </div>
    <hr>
    <div class="row-fluid">
      <div class="span2">
        <%= b.label :latitude %>
        <%= b.number_field :latitude, :value => @building.latitude||=10, :class => "span3", :id => "building_address_latitude", :disabled => true %>
        <%= b.hidden_field :latitude, :value => @building.latitude||=10, :id => "lat_hidden_field" %>
      </div>
      <div class="span2">
        <%= b.label :longitude %>
        <%= b.number_field :longitude, :value => @building.longitude||=10, :class => "span3", :id => "building_address_longitude", :disabled => true %>
        <%= b.hidden_field :longitude, :value => @building.longitude||=10, :id => "lon_hidden_field" %>
      </div>
      <div class="span2">
        <%= link_to "Search", "#", :id => "update-map", :onclick => "codeAddress();" %>
        <br>
        <%= text_field_tag :search, "", :id => "address" %>
      </div>
    </div>
    <br>
    <div id="map" style="height: 300px;width: 700px">

    </div>
    <%= b.hidden_field :id, :value => @building.id %>
    <%= b.submit %>
    <h2>Directions</h2>
    <%#= b.fields_for :building_routes do |builder| %>
    <%#= builder.text_area :name, :rows => 3, :class => "span3" %>
    <%#= builder.link_to_remove "Remove" %> <br/>
    <% #end  %>
    <%#= b.link_to_add 'Add Route', :building_routes %> <br/>


<% end %>
