<style type="text/css">

  .modal{
      width:700px;
  }
</style>

<script type="text/javascript">
    $(function () {


        $('form').bind('ajax:success', function (evt, data) {
            $.get("<%= get_contact_list_path %>", function (data1) {

                var contact_option = data1.split("|");

                $(".contact-select").html("<option></option>");
                for (var i = 0; i < contact_option.length - 1; i++) {
                    $(".contact-select").append(new Option(contact_option[i].split("--")[1], contact_option[i].split("--")[0]));
                }
                $('.modal').modal("hide");

            });
        });

        $("form").live("nested:fieldAdded",function(){
//            $("select").chosen();
        });


    })
</script>


<%= nested_form_for(@building,:html=>{:class=>"validated_form"}) do  |b| %>
    <%= b.fields_for :flats, @flat do |f| %>


        <%= hidden_field_tag :came_from, "basic" %>
        <%= hidden_field_tag :flat_id, @flat.id %>
        <%= render :partial => 'form_menu' %>

        <br>

        <div class="content detail-panel" id="basic-panel">
          <div class="row-fluid ">

            <div class="span4">

              <div class="row-fluid">
                <h3>
                  <div class="blabel" style="height: 36px;">Building Name:</div>
                  <%= @building.name %>,
                  <%= @building.main_locality.name %>
                </h3>
                <br>
              </div>

              <div class="blabel">
                Flat Name*:
              </div>

              <%= f.text_field :name, :value => @flat.name %>
              <br>
              <br>

              <div class="blabel">Configuration*:</div>
              <%= f.select :bhk_config_id, options_from_collection_for_select(@bhks, 'id', 'name', @flat.bhk_config_id), {:include_blank => ''}, {} %>
              <br>

              <div class="blabel">Source:</div>
              <%= f.select :flatype_id, options_from_collection_for_select(@sources, 'id', 'name', @flat.flatype_id), {:include_blank => ''} %>
              <br>

              <div class="blabel">Furnishing Status:</div>
              <%= f.select :furnstat_id, options_from_collection_for_select(@furnstats, 'id', 'name', @flat.furnstat_id), {:include_blank => ''} %>
              <br>
              <br>

            </div>

            <div class="span7">
              <h1>Related Parties:</h1>
              <span style="font-style: italic;">Can't find the person you are looking for?</span>
              <a data-backdrop="static" data-toggle="modal" href="#add_contact">Add contact!</a>
              <br>
              <br>
              <br>

              <% @flat.flat_contacts.each do |flat_contact| %>
                  <%= f.fields_for :flat_contacts, flat_contact do |fc| %>
                      <%= render 'buildings/partials/select_tag_partial', {:fc => fc, :flat_contact => flat_contact} %>
                      <%= fc.text_field :name, :value => flat_contact.name, :style => "margin-top:-9px" %>
                      <%= fc.hidden_field :rent_year_id, :value => @rent_year.id %>
                  <% end %>
              <% end %>
              <%= f.link_to_add 'Add another', :flat_contacts %>

              <br>



            </div>
          </div>


          <%= b.submit "Save and Continue", :class => "submitter btn btn-primary btn-large", :id => "submit-basic" %>
        </div>


    <% end %>
<% end %>

<div class="modal hide fade" id="add_contact">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>

    <h3>Add a Contact</h3>
  </div>
  <div class="modal-body">
    <%= render 'contacts/form',:locals=>{:flat_id=>@flat.id} %>
  </div>
  <div class="modal-footer">

    <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
  </div>
</div>


