<script type="text/javascript">
    $(function () {

        $('.panel-link').click(function () {
            $('.detail-panel').hide();
            var panel = $(this).attr("id");
            $("#" + panel + "-panel").show();
        });

        $('.submitter').click(function () {
            $('.detail-panel').hide();
            $(this).parent().next().show();
        });

        $('form').bind('ajax:success', function (evt, data) {
            $.get("<%= get_contact_list_path %>", function (data1) {

                var contact_option = data1.split("|");

                $(".contact-select").html("<option></option>");
                for (var i = 0; i < contact_option.length - 1; i++) {
                    $(".contact-select").append(new Option(contact_option[i].split("--")[1], contact_option[i].split("--")[0]));
                }
                $('.modal').modal("hide");

                //$(".contact-select").html(data1);
            });
            //$('.contact-select');

            //return true;
        });

    })
</script>


<%= nested_form_for(@building, :remote => true, :'data-update-target' => 'select') do |b| %>
    <%= b.fields_for :flats, @flat do |f| %>

        <%= hidden_field_tag :came_from_edit, @flat.id %>

        <div class="content" style="margin-top: 25px;">
          <div class="row-fluid">
            <div class="span5">
              <h1 style="margin-left: 20px">
                <div class="blabel">Property</div>
                <small>Detailed Input Form</small>
              </h1>
              <h3 style="margin-left: 20px">
                <div class="blabel">Building:</div>
                <small><%= @building.name %>, <%= @building.main_locality.name %></small>
                <br>

                <div class="blabel">
                  Flat Key:
                </div>
                <small><%= @flat.flat_key.upcase %></small>
              </h3>
            </div>
            <div class="span7">
              <div class="row-fluid" style="margin-top: 20px;">
                <%= link_to "Basic Data", '#', :class => "btn btn-inverse btn-large panel-link", :id => "basic" %>
                <%= link_to "Location", '#', :class => "btn btn-inverse btn-large panel-link", :id => "location" %>
                <%= link_to "Building", '#', :class => "btn btn-inverse btn-large panel-link", :id => "building" %>
                <%= link_to "Flat", '#', :class => "btn btn-inverse btn-large panel-link", :id => "flat" %>
                <%= link_to "More Info", '#', :class => "btn btn-inverse btn-large panel-link", :id => "info" %>
                <%= link_to "Photos", '#', :class => "btn btn-inverse btn-large panel-link", :id => "photos" %>
                <%= link_to "Tag Photos", '#', :class => "btn btn-inverse btn-large panel-link", :id => "tag-photos" %>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="content detail-panel" id="basic-panel">
          <%= render 'basic', {:f => f, :b => b} %>
          <br>
          <%= b.submit "Save and Continue", :class => "submitter btn btn-primary btn-large", :id => "submit-basic" %>
        </div>
        <div class="content hide detail-panel" id="location-panel">
          <%= render 'location', :b => b %>
          <br>
          <%= b.submit "Save and Continue", :class => "submitter btn btn-primary btn-large", :id => "submit-location" %>
        </div>
        <div class="content hide detail-panel" id="building-panel">
          <%= render 'building', :b => b %>
          <br>
          <%= b.submit "Save and Continue", :class => "submitter btn btn-primary btn-large", :id => "submit-building" %>
        </div>
        <div class="content hide detail-panel" id="flat-panel">
          <%= render 'flat', :f => f %>
          <br>
          <%= b.submit "Save and Continue", :class => "submitter btn btn-primary btn-large", :id => "submit-flat" %>
        </div>
        <div class="content hide detail-panel" id="info-panel">
          <%#=TODO: uncomment the below line after adding the required partial  %>
          <%#= render 'info', :b => b %>
          <br>
          <%= b.submit "Save and Continue", :class => "btn btn-primary btn-large", :id => "submit-info" %>
        </div>
        <div class="content hide detail-panel" id="photos-panel">
          <%= render 'photos', :f => f %>
          <br>
          <%= b.submit "Save and Continue", :class => "btn btn-primary btn-large", :id => "submit-info" %>
        </div>
        <div class="content hide detail-panel" id="tag-photos-panel">
          <%= render 'tag_photos', :f => f %>
          <br>

        </div>


    <% end %>
<% end %>
