<%= nested_form_for(@building) do |b| %>
    <%= b.fields_for :flats, @flat do |f| %>


        <%= hidden_field_tag :came_from, "flat_features" %>
        <%= hidden_field_tag :flat_id, @flat.id %>
        <%= render :partial => 'form_menu' %>

        <br>
        <div class="content detail-panel" id="basic-panel">

          <div class="row-fluid">
            <div class="span4">

              <h2>Description</h2>

              <%= f.text_area :qknote, :rows => 2, :class => "span5" %>

              <br/>


              <h2>Details</h2>
              <%= f.hidden_field :name, :value => @flat.name %>
              <%= f.hidden_field :bhk_config_id, :value => @flat.bhk_config_id %>

              <div>
                <div class="row-fluid">
                  <div class="span5">
                    Area:
                  </div>
                  <div class="span2">
                    <%= f.text_field :area, :value => @flat.area %>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span5">
                    Floor:
                  </div>
                  <div class="span2">
                    <%= f.text_field :floor, :value => @flat.floor %>
                  </div>
                </div>

                <br>

                <div class="row-fluid">
                  <div class="span5">
                    Direction Facing:
                  </div>
                  <div class="span2">
                    <%= f.select :direction_id, options_from_collection_for_select(@directions, :id, :name, @flat.direction_id), {}, {:class => "chzn-select span3", :'data-placeholder' => "Select a Direction"} %>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span5">
                    Interiors Quality:
                  </div>
                  <div class="span2">
                    <%= f.select :interiors_quality_id, options_from_collection_for_select(@qualities, :id, :name, @flat.interiors_quality_id), {}, {:class => "chzn-select span3", :'data-placeholder' => "Select Quality"} %>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span5">
                    View Quality:
                  </div>
                  <div class="span2">
                    <%= f.select :view_quality_id, options_from_collection_for_select(@qualities, :id, :name, @flat.view_quality_id), {}, {:class => "chzn-select span3", :'data-placeholder' => "Select Quality"} %>
                  </div>
                </div>

                <br>

                <%= b.submit "Save and Continue", :class => "submitter btn btn-primary btn-large", :id => "submit-basic" %>

              </div>
            </div>
            <div class="span5">
              <h2>Utilities</h2>

              <div class="row-fluid">
                <div class="span12">
                  <% @flat_facilities.each do |facility| -%>
                      <div>
                        <%= hidden_field_tag 'flat[facility_ids][]', nil %>
                        <%= check_box_tag :facility_ids, facility.id, @flat.facilities.include?(facility), :name => 'flat[facility_ids][]', :onchange => "$(this).next().next().toggle().find('input').attr('checked',false)" %>
                        <%= label_tag :facility_ids, facility.name -%>

                        <% if @flat.facility_ids.include?(facility.id) %>
                            <div class="blocky">
                              <%= hidden_field_tag 'flat[facility_feature_ids][]', nil %>
                              <% index=0 %>
                              <% facility.facility_features.each do |facility_feature| %>
                                  <% index+=1 %>
                                  <%= check_box_tag :facility_feature_ids, facility_feature.id, @flat.facility_features.include?(facility_feature), :name => 'flat[facility_feature_ids][]' %>
                                  <%= label_tag :facility_feature_ids, facility_feature.name %>
                                  <% if index==5 %>
                                      <br>
                                  <% end %>
                              <% end %>
                            </div>
                            <br/>
                        <% else %>
                            <div style="display:none;" class="blocky">
                              <%= hidden_field_tag 'flat[facility_feature_ids][]', nil %>
                              <% index=0 %>
                              <% facility.facility_features.each do |facility_feature| %>
                                  <% index+=1 %>
                                  <%= check_box_tag :facility_feature_ids, facility_feature.id, @flat.facility_features.include?(facility_feature), :name => 'flat[facility_feature_ids][]' %>
                                  <%= label_tag :facility_feature_ids, facility_feature.name -%>
                                  <% if index==5 %>
                                      <br>
                                  <% end %>
                              <% end %>
                            </div>
                            <br/>
                        <% end %>


                      </div>
                  <% end -%>
                </div>
              </div>

              <br>

              <h2>Restrictions</h2>

              <div>
                <div class="row-fluid">
                  <div class="span6">
                    <% @restrictions.each do |restriction| %>
                        <%= check_box_tag "flat[restriction_ids][]", restriction.id, @flat.restriction_ids.include?(restriction.id), id: dom_id(restriction) %>
                        <%= label_tag dom_id(restriction), restriction.name %>
                        <br>
                    <% end %>
                  </div>
                </div>
              </div>


            </div>
            <div class="span3">
              <h2>Amenities</h2>
                 <!-- TODO Must put after_create on adding a new type-->
              <div>

                <h3>Bathrooms</h3>
                <% @bathrooms.each do |bathroom| %>
                    <%= f.fields_for :bathrooms, bathroom do |builder| %>
                        <div class="row-fluid">
                          <div class="span9">
                            <%= builder.label bathroom.bathroom_type.name %>
                          </div>
                          <div class="span1">
                            <%= builder.hidden_field :bathroom_type_id, :value => bathroom.bathroom_type_id %>
                            <%= builder.text_field :value, :value => bathroom.value, :class => "span1 lower" %>
                          </div>
                        </div>
                    <% end %>
                <% end %>
              </div>

              <div>
                <h3>Balconies</h3>
                <% @balconies.each do |balcony| %>
                    <%= f.fields_for :balconies, balcony do |builder| %>
                        <div class="row-fluid">
                          <div class="span9">
                            <%= builder.label balcony.balcony_type.name %>
                          </div>
                          <div class="span1">
                            <%= builder.hidden_field :balcony_type_id, :value => balcony.balcony_type_id %>
                            <%= builder.text_field :value, :value => balcony.value, :class => "span1 lower" %>
                          </div>
                        </div>
                    <% end %>
                <% end %>
              </div>

              <div>
                <h3>Parking</h3>
                <% @parkings.each do |parking| %>
                    <%= f.fields_for :parkings, parking do |builder| %>
                        <div class="row-fluid">
                          <div class="span9">
                            <%= builder.label parking.parking_type.name %>
                          </div>
                          <div class="span1">
                            <%= builder.hidden_field :parking_type_id, :value => parking.parking_type_id %>
                            <%= builder.text_field :value, :value => parking.value, :class => "span1 lower" %>
                          </div>
                        </div>
                    <% end %>
                <% end %>
              </div>

              <br>
            </div>
          </div>
        </div>
    <% end %>
<% end %>