<%= nested_form_for(@building) do |b| %>
    <%= b.fields_for :flats, @flat do |f| %>

        <%= hidden_field_tag :came_from, "flat_features" %>
        <%= hidden_field_tag :flat_id, @flat.id %>
        <%= render :partial => 'form_menu' %>

        <br>
        <div class="content detail-panel" id="basic-panel">

          <h2>Flat Quality</h2>

          <div>
            <div class="row-fluid">
              <div class="span2">
                Interiors Quality:
              </div>
              <div class="span2">
                <%= f.select :interiors_quality_id, options_from_collection_for_select(@qualities, :id, :name, @flat.interiors_quality_id), {}, {:class => "chzn-select span3", :'data-placeholder' => "Select Quality"} %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                View Quality:
              </div>
              <div class="span2">
                  <%= f.select :view_quality_id, options_from_collection_for_select(@qualities, :id, :name, @flat.view_quality_id), {}, {:class => "chzn-select span3", :'data-placeholder' => "Select Quality"} %>
              </div>
            </div>

            <h2>Flat Features</h2>

            <div class="row">
              <div class="span9">
                <% @flat_facilities.each do |facility| -%>
                    <div>
                      <%= hidden_field_tag 'flat[facility_ids][]', nil %>
                      <%= check_box_tag :facility_ids, facility.id, @flat.facilities.include?(facility), :name => 'flat[facility_ids][]', :onchange => "$(this).next().next().toggle();" %>
                      <%= label_tag :facility_ids, facility.name -%>

                      <% if @flat.facility_ids.include?(facility.id) %>
                          <div class="blocky">
                            <%= hidden_field_tag 'flat[facility_feature_ids][]', nil %>
                            <% facility.facility_features.each do |facility_feature| %>
                                <%= check_box_tag :facility_feature_ids, facility_feature.id, @flat.facility_features.include?(facility_feature), :name => 'flat[facility_feature_ids][]' %>
                                <%= label_tag :facility_feature_ids, facility_feature.name -%>
                            <% end %>
                          </div>
                          <br/>
                      <% else %>
                          <div style="display:none;" class="blocky">
                            <%= hidden_field_tag 'flat[facility_feature_ids][]', nil %>
                            <% facility.facility_features.each do |facility_feature| %>
                                <%= check_box_tag :facility_feature_ids, facility_feature.id, @flat.facility_features.include?(facility_feature), :name => 'flat[facility_feature_ids][]' %>
                                <%= label_tag :facility_feature_ids, facility_feature.name -%>
                            <% end %>
                          </div>
                          <br/>
                      <% end %>


                    </div>
                <% end -%>
              </div>
            </div>
          </div>

          <br>

          <h2>Flat Restrictions</h2>

          <div>
            <div class="row">
              <div class="span9">
                <% @restrictions.each do |restriction| %>
                    <%= check_box_tag "flat[restriction_ids][]", restriction.id, @flat.restriction_ids.include?(restriction.id), id: dom_id(restriction) %>
                    <%= label_tag dom_id(restriction), restriction.name %>
                    <br>
                <% end %>
              </div>
            </div>
          </div>

          <br>

          <h2>Flat Notes</h2>

          <%= f.fields_for :flat_notes do |builder| %>
              <%= builder.text_area :name, :rows => 2, :class => "span11" %>
              <%= builder.link_to_remove "Remove" %>
          <% end %>

          <%= f.link_to_add 'Add Note', :flat_notes %> <br/>
          <%= b.submit "Save and Continue", :class => "submitter btn btn-primary btn-large", :id => "submit-basic" %>

        </div>
    <% end %>
<% end %>