<%= nested_form_for(@building) do |b| %>
    <%= b.fields_for :flats do |f| %>


        <%= hidden_field_tag :came_from, "moreinfo" %>
        <%= hidden_field_tag :flat_id, @flat.id %>
        <%= render :partial => 'form_menu' %>

        <br>
        <div class="content detail-panel" id="basic-panel">


          <div class="row-fluid">
            <div class="span4" style="overflow: auto;height:320px;padding-right:40px;margin-top: -20px; margin-left: 20px;">
              <h3>Add New Service</h3>
              <br/>
              <%= b.fields_for :building_services do |building_service| %>
                  <% if building_service.object.new_record? %>
                      <%= building_service.select :service_id, options_from_collection_for_select(@services, :id, :name), {:multiple => false}, {:class => "chzn-select span3", :'data-placeholder' => "Select Service"} %>
                      <br/>
                      <%= building_service.text_field :name, :class => "span3", :style => "margin-top:5px;", :placeholder => "Name" %>
                      <br/>
                      <%= building_service.link_to_add 'Add helpline', :building_service_helplines %> <br/>

                      <%= building_service.fields_for :building_service_helplines do |repeater| %>
                          <%= repeater.text_field :name, :placeholder => "Helpline Number" %>
                          <%= repeater.link_to_remove "Remove" %>
                      <% end %>
                      <br/>
                      <%= building_service.link_to_add 'Add Note', :building_service_notes %> <br/>

                      <%= building_service.fields_for :building_service_notes do |builder| %>
                          <%= builder.text_area :name, :rows => 2, :placeholder => "Building Note" %>
                          <%= builder.link_to_remove "Remove" %>
                      <% end %>
                      <br/>
                      <%= f.submit "Add", :class => "btn btn-inverse span1", :style => "margin-top:-4px;" %>
                  <% end %>
              <% end %>
              </table>
            </div>
            <div class="span7">
              <%= render :partial => 'building_services_table' %>
            </div>
            <br/>

          </div>
        </div>

    <% end %>
<% end %>

