<%#=TODO: when the list is sorted the changes in sequence number should be reflected without making a page refresh  %>

<script type="text/javascript">

    function rename_picture(this_photo) {
        var photo_id = this_photo;
        var photo_name = $('#photo_' + photo_id).val();
        var obj = {name:photo_name};

        $.ajax({

            type:'POST',
            url:"/rename_photo/" + photo_id,
            data:obj,
            success:function (data) {
                $.gritter.add({
                    // (string | mandatory) the heading of the notification
                    title:'Name Change Successful',
                    // (string | mandatory) the text inside the notification
                    text:'The Photo was renamed to ' + photo_name,
                    // (string | optional) the image to display on the left
                    image:'/assets/success.png',
                    // (bool | optional) if you want it to fade out on its own or just sit there
                    sticky:false,
                    // (int | optional) the time you want it to be alive for before fading out
                    time:'3000'
                    // (string | optional) the class name you want to apply to that specific message
                    // class_name:'my-sticky-class'
                });
            }
            //dataType: dataType
        });
    }


    function get_list_data(data) {

        var final_data = "";
        var intermediate_data = new Array();
        intermediate_data = data.split("&");
        for (var i = 0; i < intermediate_data.length; i++) {
            final_data = final_data + intermediate_data[i].split("=")[0].replace("[]", "=" + i) + "&"
        }
        final_data = final_data + "&flat_id=<%= @flat.id %>";
        return final_data;
    }

    $(function () {

        $("#sortable-photos").sortable({
            create:function (event, ui) {
                var final_data = get_list_data($("#sortable-photos").sortable("serialize"));
                $.ajax({

                    type:'POST',
                    url:"<%= update_photo_sequence_path %>",
                    data:final_data
                    //success: success,
                    //dataType: dataType
                });

            }

        }, {
            stop:function (event, ui) {
                delay: 300;

                var final_data = get_list_data($("#sortable-photos").sortable("serialize"));
                $.ajax({

                    type:'POST',
                    url:"<%= update_photo_sequence_path %>",
                    data:final_data
                    //                    success: function(){
                    //                    }
                    //dataType: dataType
                });


            }
        });

    });

</script>


<%= nested_form_for @building, :html => {:multipart => true} do |b| %>
    <%= b.fields_for :flats, @flat, :html => {:multipart => true} do |f| %>

        <%= hidden_field_tag :came_from, "photos" %>
        <%= hidden_field_tag :flat_id, @flat.id %>

        <%= render :partial => 'form_menu' %>
        <br>

        <div class="content detail-panel" id="basic-panel">

          <h2>Add Photos
            <br>
            <small> You can choose multiple photos to upload
            </small>
          </h2>


          <%= file_field_tag 'flat[photos_attributes][][image]', :multiple => true %>
          <%= b.submit "Upload Photos", :class => "btn btn-inverse", :style => "margin-top:-8px;" %>

          <hr>

          <h2>Photo
            Gallery
            <%= link_to "Delete All", delete_all_photos_path(@flat.id), :class => "btn btn-danger", :confirm => "Are you sure ??" %>
            <%= link_to "Sequencify", edit_property_flat_photos_path(@building, @flat), :class => "btn btn-primary" %>
            <%= link_to "Taggify!", tag_property_flat_photos_path(@building, @flat), :class => "btn btn-inverse" %>
          </h2>

          <i>
            Drag and drop Photos in order to re-order sequence <br>
            Refresh (F5) to generate fresh sequence numbers or press Sequencify<br>
          </i>

          <div>
            <ul id="sortable-photos">
              <% @flat.photos.order("sequence_number").each_with_index do |photo, index| %>

                  <li id="<%= photo.id %>_<%= index %>">
                    <% @backcolor="black" %>
                    <% if photo.showcase_image? %>
                        <% @backcolor="green" %>
                    <% end %>

                    <div class="image-wrapper" style="background-color: <%= @backcolor %>">
                      <span style="color: white;font-size: 18px;position:relative;top: -10px"><%= photo.sequence_number %></span>
                      <span style="color: white;font-size: 18px;position:relative;top: -10px"><%= link_to "x", photo, :method => :delete, :confirm => "Are you sure ??" %></span>
                      <%= link_to (image_tag photo.image.url(:thumbnail)), make_showcase_image_path(photo.id) %>
                      <br>

                      <div>
                        <%= text_field_tag :caption, photo.name, :class => "input-large", :id => "photo_#{photo.id}" %>
                        <%= link_to "UPDATE", "#", :class => "btn btn-info pull-right", :onclick => "rename_picture('#{photo.id}')" %>
                      </div>
                    </div>
                  </li>

              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
<% end %>


