<%#=TODO: when the list is sorted the changes in sequence number should be reflected without making a page refresh  %>
<script type="text/javascript" src="/assets/jquery.Jcrop.js"></script>
<script type="text/javascript" src="/assets/jquery.color.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/jquery.Jcrop.css">
<script type="text/javascript">
    var loaded;

    jQuery(function ($) {
        $('#target').Jcrop({
           onSelect:crop_picture

        });
    });

    function crop_picture(Coords,flat_id)
    {
        var rx = Coords.x;
        //alert(rx);
        var ry = Coords.y;
        var rw = Coords.w;
        var rh = Coords.h;
        var data = {arx:[],ary:[],arw:[],arh:[],flat:[]};

        data["arx"].push(rx);
        data["ary"].push(ry);
        data["arw"].push(rw);
        data["arh"].push(rh);
        data["flat"].push(<%= @flat.id %>);


        $.ajax({

            type:'POST',
            url:"/crop_floorplan",
            data:JSON.stringify(data),
            contentType: "application/json",
            success:function (data){
                alert(data);
            }
            //dataType: dataType
        });
    }



    function rename_picture(this_photo) {
        var photo_id = this_photo;
        var photo_name = $('#photo_' + photo_id).val();
        var obj = {name:photo_name};

        $.ajax({

            type:'POST',
            url:"/rename_photo/" + photo_id,
            data:obj,
            success:function (data) {
                $.gritter.add({
                    // (string | mandatory) the heading of the notification
                    title:'Name Change Successful',
                    // (string | mandatory) the text inside the notification
                    text:'The Photo was renamed to ' + photo_name,
                    // (string | optional) the image to display on the left
                    image:'/assets/success.png',
                    // (bool | optional) if you want it to fade out on its own or just sit there
                    sticky:false,
                    // (int | optional) the time you want it to be alive for before fading out
                    time:'3000'
                    // (string | optional) the class name you want to apply to that specific message
                    // class_name:'my-sticky-class'
                });
            }
            //dataType: dataType
        });
    }


    function get_list_data(data) {

        var final_data = "";
        var intermediate_data = new Array();
        intermediate_data = data.split("&");
        for (var i = 0; i < intermediate_data.length; i++) {
            final_data = final_data + intermediate_data[i].split("=")[0].replace("[]", "=" + i) + "&"
        }
        final_data = final_data + "&flat_id=<%= @flat.id %>";
        return final_data;
    }


    $(function () {


        $("#sortable-photos").sortable({
            create:function (event, ui) {
                var final_data = get_list_data($("#sortable-photos").sortable("serialize"));
                $.ajax({

                    type:'POST',
                    url:"<%= update_photo_sequence_path %>",
                    data:final_data
                    //success: success,
                    //dataType: dataType
                });

            }

        }, {
            stop:function (event, ui) {
                delay: 300;

                var final_data = get_list_data($("#sortable-photos").sortable("serialize"));
                $.ajax({

                    type:'POST',
                    url:"<%= update_photo_sequence_path %>",
                    data:final_data
                    //                    success: function(){
                    //                    }
                    //dataType: dataType
                });


            }
        });


        $(".floor_plan").click(function () {
            var current_image = $(this);
            $.get("/make_floor_plan/" + "<%= @flat.id %>" + "/" + $(this).attr("id"), function (data) {
                current_image.parent().parent().css("background-color", "blue");
                $("#" + data).parent().parent().css("background-color", "black");
            })

        });


    });

</script>

<%= nested_form_for @building, :id => "kk", :html => {:multipart => true} do |b| %>
    <%= b.fields_for :flats, @flat, :html => {:multipart => true} do |f| %>

        <%= hidden_field_tag :came_from, "photos" %>
        <%= hidden_field_tag :flat_id, @flat.id %>
        <%= hidden_field_tag :external, false %>

        <%= f.hidden_field :name, :value => @flat.name %>
        <%= f.hidden_field :bhk_config_id, :value => @flat.bhk_config_id %>


        <%= render :partial => 'form_menu' %>
        <br>

        <div class="content detail-panel" id="basic-panel">

          <h2>Add Flat Photos
            <br>
            <small> You can choose multiple photos to upload
            </small>
          </h2>
          <%= file_field_tag 'flat[photos_attributes][][image]', :multiple => true %>
          <%= b.submit "Upload Photos", :class => "btn btn-inverse", :style => "margin-top:-8px;" %>
          <hr>


          <h2>Photo Gallery
            <%= link_to "Delete All", delete_all_photos_path(@flat.id), :class => "btn btn-danger", :confirm => "Are you sure ??" %>
            <%= link_to "Sequencify", edit_property_flat_photos_path(@building, @flat), :class => "btn btn-primary" %>
            <%= link_to "Taggify!", tag_property_flat_photos_path(@building, @flat), :class => "btn btn-inverse" %>
          </h2>
          <i>
            Drag and drop Photos in order to re-order sequence <br>
            Refresh (F5) to generate fresh sequence numbers or press Sequencify<br>
          </i>

          <div>
            <ul id="sortable-photos">
              <% @flat.photos.order("sequence_number").each_with_index do |photo, index| %>

                  <li id="<%= photo.id %>_<%= index %>">
                    <% @backcolor="black" %>
                    <% if photo.showcase_image? %>
                        <% @backcolor="green" %>

                    <% elsif photo.is_floor_plan? %>
                        <% @backcolor="blue" %>

                    <% end %>

                    <div class="image-wrapper" style="background-color: <%= @backcolor %>">
                      <span style="color: white;font-size: 18px;position:relative;top: -10px"><%= photo.sequence_number %></span>

                      <span style="color: white;font-size: 18px;position:relative;top: -10px"><%= link_to "x", photo, :method => :delete, :confirm => "Are you sure ??" %></span>
                      <br>
                      <%= link_to (image_tag(photo.image.url(:thumbnail), :size => "200x200", :id => photo.is_floor_plan? ? "target" :"")), make_showcase_image_path(@flat.id, photo.id) %>
                      <br>

                      <div>

                        <br>
                        <%= text_field_tag :caption, photo.name, :class => "input-large", :id => "photo_#{photo.id}" %>
                        <%= link_to "UPDATE", "#", :class => "btn btn-info pull-right", :onclick => "rename_picture('#{photo.id}')" %>
                        <br>
                        <% if photo.is_floor_plan==true %>

                            <%= link_to "Crop", "tag_photos", :class => "btn btn-info pull-right", :onclick => "crop_picture('#{photo.id}')" %>
                        <% end %>
                        <!--<%#= file_field_tag 'flat[photos_attributes][][image]' %>-->
                        <%#= link_to "Mark as Floor Plan", "#", :class => "btn btn-warning floor_plan", :id => photo.id %>
                        <br>

                      </div>
                    </div>
                  </li>

              <% end %>
            </ul>
          </div>
          <br>
          <br>
          <hr>
          <div class="row-fluid">
            <div class="span6">
              <% if @building.avatar.blank? %>
                  <h2>Add a Building Photo</h2>
                  <%= image_tag "missing_photo.jpg", :style => "border-radius:5px" %>
              <% else %>
                  <h2>Change the Building Photo</h2>
                  <br>
                  <%= image_tag @building.avatar.url(:thumbnail), :style => "border-radius:5px" %>
              <% end %>
              <br>
              <%= b.file_field :avatar %>
              <br>
              <%= b.submit "Upload Building Photo", :class => "btn btn-inverse", :style => "margin-top:-8px;" %>
              <br>

            </div>

            <div class="span6">
              <% if @flat.floorplan.blank? %>
                  <h2>Add Floor Plan
                    <br>
                    <small> Pick your floor plan
                    </small>
                  </h2>
                  <%= image_tag "missing_photo.jpg", :style => "border-radius:5px" %>
              <% else %>
                  <h2>Change the Floor Plan</h2>
                  <br>
                  <%= image_tag @flat.floorplan.url(:thumbnail),:style => "border-radius:5px" %>
              <% end %>
              <br>
              <%= f.file_field :floorplan  %>

              <br>
              <%= f.submit "Upload Floor Plan", :class => "btn btn-inverse", :style => "margin-top:-8px;" %>

              <%= link_to "Crop", "tag_photos", :class=>"btn btn-danger fp_cropper", :style => "margin-top:-8px;", :onclick=> "crop_picture('#{@flat.id}')" %>

            </div>
          </div>
          <br>
          <br>
          <hr>
          <%= b.submit "Save and Continue", :class => "submitter btn btn-primary btn-large", :onclick => "$('#external').val('true')" %>
        </div>



    <% end %>
<% end %>






