<div class="content" style="margin-top: 25px;">

  <div class="row">
    <h1 style="margin-left: 20px">
      Property
      <small>Quick Add</small>
    </h1>
  </div>
</div>
<br>

<script type="text/javascript">
    $(function () {
//        $('select').chosen();
        $(".add_building_link").click(function(){
             $(".required").removeClass("required");
        })  ;


    })
</script>

<div class="content">

  <%= nested_form_for(@building, :html => {:class => "submit_on_change "}) do |b| %>
      <%= b.fields_for :flats, @flat do |f| %>


          <div class="row-fluid ">

            <div class="span5">

              <div class="row-fluid">
                <% if @building_selected %>
                    <h3>
                      <div class="blabel" style="height: 36px">Building Name:</div>
                      <div>
                        <%= @building.name %>,
                        <br>
                        <%= @building.main_locality.name %>
                        <% @required_class="required" %>
                      </div>
                    </h3>
                    <br>
                <% else %>
                    <% @required_class="not_required" %>
                    <div class="blabel">Building Name*:</div>
                    <%= select_tag :selected_building, options_from_collection_for_select(@buildings, 'id', 'full_name'), {:include_blank => '', :class => 'autosubmit ', :'data-placeholder' => "Select the building"} %>
                    <br>
                    <span style="font-style: italic;">Can't find the building you are looking for?</span>
                    <a data-backdrop="static" data-toggle="modal" href="#add_building" class="add_building_link">Add it!</a>
                    <br>
                    <br>

                    <div class="modal hide fade" id="add_building">
                      <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>

                        <h3>Add a Building</h3>
                      </div>
                      <div class="modal-body">
                        Building Name : <%= b.text_field :name, :value => nil %>
                        <%= b.select :primary_locality_id, options_from_collection_for_select(@localities, 'id', 'name', @building.primary_locality_id) %>
                        <%= hidden_field_tag :contact_id, @default_contact_id %>
                      </div>
                      <div class="modal-footer">
                        <%= b.submit "Save Changes", :class => "btn btn-primary" %>
                        <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                <% end %>
              </div>

              <div class="blabel">
                Flat Name*:
              </div>

              <%= f.text_field :name, :value => @flat.name ,:class=>@required_class %>
              <br>
              <br>

              <div class="blabel">Configuration*:</div>
              <%= f.select :bhk_config_id, options_from_collection_for_select(@bhks, 'id', 'name', @flat.bhk_config_id), {:include_blank => ''} ,:class=>@required_class %>
              <br>


              <div class="blabel">Source:</div>
              <%= f.select :flatype_id, options_from_collection_for_select(@sources, 'id', 'name', @flat.flatype_id), {:include_blank => ''} %>
              <br>

              <div class="blabel">Furnishing Status:</div>
              <%= f.select :furnstat_id, options_from_collection_for_select(@furnstats, 'id', 'name', @flat.furnstat_id), {:include_blank => ''} %>
              <br>
              <br>

              <div class="blabel">Expected Rent:</div>
              <%= f.fields_for :expected_rents, @expected_rent do |er| %>
                  <%= er.text_field :name %>
              <% end %>

              <div class="blabel">Available From:</div>
              <%= f.fields_for :available_froms, @available_from do |er| %>
                  <%= er.datepicker :name, :value => @flat.available_froms.last.name, :dateFormat => "dd/mm/yy" %>
              <% end %>
              <br>
            </div>

            <div class="span7">
              <h1>Related Parties:</h1>
              <span style="font-style: italic;">Can't find the person you are looking for?</span>
              <a data-backdrop="static" data-toggle="modal" href="#add_contact" >Add contact!</a>
              <br>
              <br>
              <br>

              <% @flat.flat_contacts.each do |flat_contact| %>
                  <%= f.fields_for :flat_contacts, flat_contact do |fc| %>
                      <%= render 'buildings/partials/select_tag_partial', {:fc => fc, :flat_contact => flat_contact} %>
                      <%= fc.text_field :name, :value => flat_contact.name, :style => "margin-top:-9px" %>
                      <%= fc.hidden_field :rent_year_id, :value => @rent_year.id %>
                  <% end %>
              <% end %>
              <%= f.link_to_add 'Add another', :flat_contacts %>

              <br>

              <div class="modal hide fade" id="add_contact">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal">×</a>

                  <h3>Add a Contact</h3>
                </div>
                <div class="modal-body">
                  <%= render 'contacts/form' %>
                </div>
                <div class="modal-footer">
                  <%= b.submit "Save Changes", :class => "btn btn-primary" %>
                  <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
                </div>
              </div>

            </div>
          </div>

      <% end %>
      <br>
      <br>


      <%= b.submit "Save Property", :class => "btn btn-inverse btn-large" %>

  <% end %>
</div>
