<div class="row-fluid">
  <div class="span4 offset4" style="margin-top: 10%;background: white;padding:20px;border-radius: 20px;">
    <h1 style="color: black;">
      <%= image_tag "logo.png", :style => "height:80px;" %>
      Brokers Please Excuse</h1>
    <br/>
    <br/>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div>
          <strong><%= f.label :email, :class=>"blabel" %></strong>
          <%= f.email_field :email %></div>

        <div>
          <strong><%= f.label :password, :class=>"blabel" %></strong>
          <%= f.password_field :password %></div>

        <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>

        <br>
        <br>
        <div><%= f.submit "Sign in", :class=>"btn btn-inverse btn-large" %></div>
    <% end %>

    <%= render "links" %>

  </div>
</div>