<%= content_for :head do %>


    <script type="text/javascript">
        $(function () {
            $(".timepicker123").datetimepicker({dateFormat:'yy-mm-dd ', ampm:true});
            $('.reschedule').hide();
        });
        function clickmodal_link(data, element, task_id) {

            $("#new_interaction_form").children(".modal-body").html("");

            $.get("/interactions/new?task_id=" + task_id + "&prev_comment=" + data, function (data) {
                $($(element).attr("href")).children(".modal-body").html(data);
            });

        }

        var mygrid;
        /*function doInitGrid() {
            mygrid = new dhtmlXGridFromTable("dhtmlx_interactions_table");

            mygrid.setSkin("bpe");
            mygrid.attachHeader("#text_filter,#text_filter,#text_filter,#text_filter");
            mygrid.enableAutoWidth(true);
            mygrid.enableAutoHeight(false);
            mygrid.setSizes();


            mygrid.setColWidth(0, 70);
            mygrid.setColWidth(1, 70);
            mygrid.setColWidth(2, 300);
            mygrid.setColWidth(3, 150);

            //hiding columns
            //  mygrid.setColumnHidden(0,true);
        }*/

        $(function () {
            //doInitGrid();
            $('.summary-interaction').click(function () {
                $(this).parent().find('.detailed-interaction').slideDown();
                $(this).hide();
            });
            $('.detailed-interaction').click(function () {
                $(this).parent().parent().parent().find('.detailed-interaction').hide();
                $(this).parent().parent().parent().find('.summary-interaction').show();
            });
            $('.summary-task').click(function () {
                $(this).parent().find('.detailed-task').slideDown();
                $(this).hide();
            });
            $('.detailed-task a.collapser').click(function () {
                $(this).parent().parent().parent().find('.detailed-task').hide();
                $(this).parent().parent().parent().find('.summary-task').show();
            });

            $(".interaction_link").click(function () {

                //alert("index");
                $('#modal_' + $(this).attr("id") + "_index").modal('show');
            });

            $('select.filtration').change(function () {
                var status = $('#status').val();
                var role = $('#role').val();
                var player = $('#players').val();

                if (status=="all_tasks")
                {
                    $('.interaction-item').hide();
                    $('.task-item').show();
                    return
                }
                if (status=="all_interactions")
                {
                    $('.task-item').hide();
                    $('.interaction-item').show();
                    return
                }
                if (status == "all") {
                    status = "due overdue";
                }
                if (role == "all") {
                    role = "assigned involved others";
                }
                $('.task-item').hide();
                for (i = 0; i < status.split(' ').length; i++) {
                    for (j = 0; j < role.split(' ').length; j++) {
                        var classstring = "." + status.split(' ')[i] + "." + role.split(' ')[j];
                        $('.task-item' + classstring).show();
                        $('.task-item').each(function () {
                            if ($(this).children(':first').text().match(player.toString()) == null && player.toString() != "All") {
                                $(this).hide();
                            }
                        });
                    }
                }

                return false;
            });

            $('select.filtration1').change(function(){
                var interactiontype = $('#interactiontype').val();
                //alert(interactiontype);
                if(interactiontype=="all"){
                    $('.task-item').hide();
                    $('.interaction-item').show();
                }
                else{
                    $('.task-item').hide();
                    $('.interaction-item').hide();
                    $('.'+interactiontype).show();
                }
            });
        });

    </script>

    <style type="text/css">

    </style>

<% end %>
<div class="span7 info-unit " style="margin-left: -20px;">
  <% if @contact_page %>


      <br>
  <% end %>
  <h2>
    Tasks
    <div class="pull-right">
      <%= hidden_field_tag :task_job, "new" %>
      <%= select_tag :status, options_for_select([["All", "all"], ["All Interactions", "all_interactions"], ["All Tasks", "all_tasks"], ["Due", "due"], ["Overdue", "overdue"]]), {:style => "width:auto", :class => 'filtration'} %>
      <%= select_tag :role, options_for_select([["All", "all"], ["Assigned", "assigned"], ["Involved", "involved"]]), {:style => "width:80px", :class => 'filtration'} %>
      <%= select_tag :players, options_from_collection_for_select(Contact.all, 'name', 'name'), {:class => "span3 chosen-select filtration"} %>
      <%= select_tag :interactiontype,options_for_select([["All", "all"], ["Note", "Note"], ["Meet", "Meet"],["Email","Email"],["Call","Call"],["Showing","Showing"]]), {:style => "width:80px;", :class => 'span2 filtration1'} %>
    </div>
  </h2>
  <br>
  <br>
  <!---->

  <!-- Tasks Panel -->
  <div id="task-panel">
      <% @tasks.each_with_index do |task, index| %>
        <% if task.active %>
            <div id="task_<%= task.id %>" class="task-item <%= (Time.now>task.due_date) ? "overdue" :"due" %> <%= if (task.assigned_to==current_user.contact.id) then
                                                                                                                    "assigned"
                                                                                                                  elsif (!InteractionContact.find_by_interaction_id_and_contact_id(task.interaction.id, current_user.contact.id).blank?) then
                                                                                                                    "involved"
                                                                                                                  else
                                                                                                                    "others"
                                                                                                                  end %>">
              <div class="row-fluid" style="margin-bottom: 5px;">
                <div>
                  <div class="summary-task <%= (Time.now>task.due_date) ? "overdue_summary" :"blocky" %>">
                    <% @primary_contact = Contact.find(task.interaction.primary_contact_id) %>
                    <%= @primary_contact.name %> |
                    <%= @primary_contact.phones.first.name unless @primary_contact.phones.count.zero? %>  |
                    <%= @primary_contact.emails.first.name unless @primary_contact.emails.count.zero? %>
                    <div class="pull-right" style="text-align: right;">
                      Due: <%= task.due_date.strftime("%e %b") %>
                      <br>
                      <span style="font-size: 10px;font-weight: normal;">Last Contact:<%= task.interaction.interaction_date.strftime("%e %b") %></span>
                    </div>
                    <br>
                    <br>

                    <div style="font-weight: normal"><%= "#{raw task.interaction.name[0..60]} ...." %></div>
                  </div>
                  <div class="detailed-task" style="display: none;">
                    <div class="row-fluid">
                      <div class="span9">
                        <%= raw task.interaction.name %>
                        <br/>
                        <br/>
                      </div>
                      <div class="span3" style="text-align: right;">
                        <h2><%= task.due_date.strftime("%e %b") %></h2>

                        <span style="font-size: 10px;font-weight: normal;">Last contact:<%= task.interaction.interaction_date.strftime("%e %b") %></span>
                      </div>
                    </div>
                    <div class="row-fluid ">
                      <div class="span12 <%= (Time.now>task.due_date) ? "overdue-detailed" :"due-detailed" %>" style="margin-left: -4px;padding-left: 5px;">

                        <span style="font-weight: bold">To: <%= Contact.find(task.assigned_to).name.humanize %>
                          | </span>
                        For:
                        <a target="_blank" href="<%= contact_path(@primary_contact) %>" id="cnt_<%= @primary_contact.id %>_<%= task.id %>"> <%= @primary_contact.display_name %>
                          |</a>
                        <br>
                        Involved:
                        <% task.interaction.contacts.each do |contact| %>
                            <%#this is to handle exception in relationships
                                in case of any exceptions raised due to this relationship,
                                the default value of @col is set at #ff00ff in the rescue block.

                            %>
                            <% begin %>
                                <% case contact.contact_types.first.name %>
                        <% when "Vendor" %>
                                    <% @col="#ff0000" %>
                                <% when "Client" %>
                                    <% @col="#0088CC" %>
                                <% when "Employee" %>
                                    <% @col="#338833" %>
                                <% when "Partner" %>
                                    <% @col="#ff00ff" %>
                                <% else %>
                                    <% @col="#ff00ff" %>
                                <% end %>
                            <% rescue Exception => e %>
                                <% @col = "#000000" %>

                            <% end %>

                            <style type="text/css">
                                #cnt_<%= contact.id %>_ <%= task.id %> {
                                    color: <%= @col %>;
                                }
                            </style>

                            <a target="_blank" href="<%= contact_path(contact) %>" id="cnt_<%= contact.id %>_<%= task.id %>"><%= contact.name %> </a>
                            |
                        <% end %>
                        <br>

                        <span style="font-size: 10px;font-weight: normal;">Created By: <%= Contact.find(task.interaction.created_by).name %></span>
                      </div>
                      <a href="markup_as_complete/<%= task.id %>" class="modal-link">Mark
                        as
                        Complete</a> |
                      <a data-toggle="modal" href="#" onclick="$('#reschedule<%=task.id%>').show();" class="modal-link">Re-Schedule</a>
                      |
                      <a href="markup_as_cancle/<%= task.id %>" class="modal-link">Cancel</a>

                      <a class="collapser pull-right" href="#">Collapse</a>

                      <div id="reschedule<%= task.id%>" class="reschedule" style="position:relative;height: 40px;width: 400px;" >

                        <%= form_tag :controller => 'taskings', :action => 'reschedule' do%>
                            <%= hidden_field_tag :id, task.id %>
                            <%= label_tag 'due_date: '%><%= text_field_tag :due_date,Date.today+1,:class=>"timepicker123", :onclick=>"$('.ui-datepicker').css('z-index','999999999')" %>
                            <%= submit_tag 'Submit' %>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="modal hide fade" id="task_modal<%= index %>" style="width:840px;height:500px;">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">×</button>
                  <h3>Amend Task</h3>
                </div>
                <div class="modal-body">
                  <%#= render 'interactions/form', :locals => {:task => task, :prev_comment => "Cancelled"} %>
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn">Close</a>
                </div>
              </div>
            </div>

        <% end %>
    <% end %>
      <% @interactions.each do |interaction| %>

                 <div id="interaction_<%= interaction.id %>" class="interaction-item <%= InteractionType.find(interaction.interaction_type_id).name %>">
                   <div class="row-fluid" style="margin-bottom: 5px;">
                     <div>
                       <div class="summary-interaction " style="border:2px solid;border-radius:5px;padding:5px">
                         <% @primary_contact = Contact.find(interaction.primary_contact_id) %>
                         <%= @primary_contact.name %> |
                         <%= @primary_contact.phones.first.name unless @primary_contact.phones.count.zero? %>  |
                         <%= @primary_contact.emails.first.name unless @primary_contact.emails.count.zero? %>
                         <div class="pull-right" style="text-align: right;">
                           Due: <%= interaction.interaction_date.strftime("%e %b") %>
                           <br>
                           <span style="font-size: 10px;font-weight: normal;">Last Contact:<%= interaction.interaction_date.strftime("%e %b") %></span>
                         </div>
                         <br>
                         <br>

                         <div style="font-weight: normal"><%= "#{raw interaction.name[0..60]} ...." %></div>
                       </div>
                       <div class="detailed-interaction" style="display: none;border:2px solid;border-radius:5px;padding:5px">
                         <div class="row-fluid">
                           <div class="span9">
                             <%= raw interaction.name %>
                             <br/>
                             <br/>
                           </div>
                           <div class="span3" style="text-align: right;">
                             <h2><%= interaction.interaction_date.strftime("%e %b") %></h2>

                             <span style="font-size: 10px;font-weight: normal;">Last contact:<%= interaction.interaction_date.strftime("%e %b") %></span>
                           </div>
                         </div>
                         <div class="row-fluid ">
                           <div class="span12" style="margin-left: -4px;padding-left: 5px;">

                           <span style="font-weight: bold">To: <%= Contact.find(interaction.primary_contact_id).name.humanize %>
                             | </span>
                             For:
                             <a target="_blank" href="<%= contact_path(@primary_contact) %>" id="cnt_<%= @primary_contact.id %>_<%= interaction.id %>"> <%= @primary_contact.display_name %>
                               |</a>
                             <br>
                             Involved:
                             <% interaction.contacts.each do |contact| %>
                                 <%#this is to handle exception in relationships
                                   in case of any exceptions raised due to this relationship,
                                   the default value of @col is set at #ff00ff in the rescue block.

                                 %>
                                 <% begin %>
                                     <% case contact.contact_types.first.name %>
                             <% when "Vendor" %>
                                         <% @col="#ff0000" %>
                                     <% when "Client" %>
                                         <% @col="#0088CC" %>
                                     <% when "Employee" %>
                                         <% @col="#338833" %>
                                     <% when "Partner" %>
                                         <% @col="#ff00ff" %>
                                     <% else %>
                                         <% @col="#ff00ff" %>
                                     <% end %>
                                 <% rescue Exception => e %>
                                     <% @col = "#000000" %>

                                 <% end %>

                                 <style type="text/css">
                                     #cnt_<%= contact.id %>_ <%= interaction.id %> {
                                         color: <%= @col %>;
                                     }
                                 </style>

                                 <a target="_blank" href="<%= contact_path(contact) %>" id="cnt_<%= contact.id %>_<%= interaction.id %>"><%= contact.name %> </a>
                                 |
                             <% end %>
                             <br>

                             <span style="font-size: 10px;font-weight: normal;">Created By: <%= Contact.find(interaction.created_by).name %></span>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>



                 </div>


         <% end %>
  </div>
  <!---->

</div>
<%if @contact_page %>
    <div class="span2" style="background-color: #ffffff;position:absolute;height: 270px;left: 660px;top: 40px;width:490px;padding: 5px;;"><h3>Add New Interaction</h3><%= render 'interactions/form', :locals => {} %></div>
<%else%>
    <div class="span2" style="background-color: #ffffff;position:absolute;height: 340px;left: 780px;top: 57px;width:500px;padding: 20px;;"><h2>Add New Interaction</h2><%= render 'interactions/form', :locals => {} %></div>
<%end %>
