<!DOCTYPE html>
<html>
<head>
  <title>Brokers Please Excuse</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $(function () {

      //    $('select').chosen();
//          $('select').on('click',function(){
//             $(this).chosen();
//          });

          $("form.submit_on_change").each(function (idx, form) {
              $(form).find("select.autosubmit").each(function (idx, element) {
                  $(element).change(function () {
                      $(form).submit();
                      return false;
                  });
              });
          });
      });
      //  $.datepicker.parseDate('mm-dd-yyyy', '01-26-2007');
  </script>
  <%= yield(:head) %>
</head>
<body>
<div id="wrapper">
  <div class="navbar navbar-fixed-top" style="z-index: 999999999">
    <div class="navbar-inner" style="z-index: 999999999">
      <div class="container-fluid">
        <a class="brand" href="/"><%= image_tag "logo.png", :size => "32x32", :style => "vertical-align:middle" %>
          BrokersPleaseExcuse.com</a>
        <% if current_user %>

            <ul class="nav" style="margin-top: 5px;">
              <li class="dropdown" style="color:white;font-size:18px;line-height:20px;background: #000000">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                  Properties
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "View All", flats_path %></li>
                  <li><%= link_to "Add New", new_property_path %></li>
                </ul>
              </li>
              <li class="dropdown" style="color:white;font-size:18px;line-height:20px;background: #000000">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                  Contacts
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "View All", contacts_path %></li>
                  <li><%= link_to "Add New", new_contact_path %></li>
                </ul>
              </li>
              <li style="color:white;font-size:18px;line-height:20px;background: #000000">

                <% @interaction=Interaction.new %>
                <% @interaction.taskings.build %>

                <a data-toggle="modal" href="#new_interaction_form">Add Interaction</a>

                <div class="modal hide fade" id="new_interaction_form" style="width:840px;height:500px;">
                  <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h1>Add Interaction</h1>
                  </div>
                  <div class="modal-body">
                    <div class="row-fluid">
                      <%= render 'interactions/form', :locals => {} %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn">Close</a>
                  </div>
                </div>
              </li>
              <!--<li style="color:white;font-size:18px;line-height:20px;background: #000000"><a href="#">Intranet</a></li>-->
            </ul>
        <% end %>


        <% if !user_signed_in? %>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "pull-right navbar-form"}) do |f| %>
                <%= f.email_field :email, :class => "input-small span3", :placeholder => "Email" %>
                <%= f.password_field :password, :class => "input-small", :placeholder => "Password" %>
                <%= f.submit "Sign In", :class => "btn-warning btn" %>
            <% end %>
        <% else %>
            <div class="pull-right" style="margin-top: 15px;color:white;font-size: 18px;">
              <%= current_user.email %>
              <span class="nav_link">
              | <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :style => "color:white;" %>
            </span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <%= js extend_gritter :position => :bottom_right %>
    <%= js add_gritter(flash[:notice], :image => :success, :title => "Notice", :sticky => false, :time => 2000) %>
    <%= js add_gritter(flash[:alert], :image => :error, :title => "Alert!", :sticky => true) %>
    <%= yield %>
  </div>
</div>


</body>
</html>



